Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

pkg/report: stop using questionable frames
  pkg/report/linux.go
  pkg/report/testdata/linux/report/479
  pkg/report/testdata/linux/report/480
  pkg/report/testdata/linux/report/481
  pkg/report/testdata/linux/report/484
  pkg/report/testdata/linux/report/485
  pkg/report/testdata/linux/report/487
  pkg/report/testdata/linux/report/500
Owners: none

pkg/report: stop using questionable frames
  pkg/report/linux.go
  pkg/report/testdata/linux/report/479
  pkg/report/testdata/linux/report/480
  pkg/report/testdata/linux/report/481
  pkg/report/testdata/linux/report/484
  pkg/report/testdata/linux/report/485
  pkg/report/testdata/linux/report/487
  pkg/report/testdata/linux/report/500
Owners: none

executor: enable KVM generator only on AMD64 arch
  CONTRIBUTORS
  executor/gen.go
Owners: none

executor: enable KVM generator only on AMD64 arch
  CONTRIBUTORS
  executor/gen.go
Owners: none

sys/linux/socket_netlink_generic_devlink: use template type for netlink msg
  sys/linux/socket_netlink_generic_devlink.txt
Owners: none

sys/linux: add support for devlink trap syscalls
  sys/linux/socket_netlink_generic_devlink.txt
  sys/linux/socket_netlink_generic_devlink_386.const
  sys/linux/socket_netlink_generic_devlink_amd64.const
  sys/linux/socket_netlink_generic_devlink_arm.const
  sys/linux/socket_netlink_generic_devlink_arm64.const
  sys/linux/socket_netlink_generic_devlink_mips64le.const
  sys/linux/socket_netlink_generic_devlink_ppc64le.const
Owners: none

sys/linux/socket_netlink_generic_devlink: use template type for netlink msg
  sys/linux/socket_netlink_generic_devlink.txt
Owners: none

sys/linux: add support for devlink trap syscalls
  sys/linux/socket_netlink_generic_devlink.txt
  sys/linux/socket_netlink_generic_devlink_386.const
  sys/linux/socket_netlink_generic_devlink_amd64.const
  sys/linux/socket_netlink_generic_devlink_arm.const
  sys/linux/socket_netlink_generic_devlink_arm64.const
  sys/linux/socket_netlink_generic_devlink_mips64le.const
  sys/linux/socket_netlink_generic_devlink_ppc64le.const
Owners: none

sys/linux: add descriptions for new tipc crypto APIs
  sys/linux/socket_tipc_netlink.txt
  sys/linux/socket_tipc_netlink_386.const
  sys/linux/socket_tipc_netlink_amd64.const
  sys/linux/socket_tipc_netlink_arm.const
  sys/linux/socket_tipc_netlink_arm64.const
  sys/linux/socket_tipc_netlink_mips64le.const
  sys/linux/socket_tipc_netlink_ppc64le.const
Owners: none

docs/syzbot: Update KCSAN related information
  docs/syzbot.md
Owners: none

docs/syzbot: Update KCSAN related information
  docs/syzbot.md
Owners: none

docs/syzbot: Update KCSAN related information
  docs/syzbot.md
Owners: none

pkg/ipc: support C compiler in non-standard location
  pkg/ipc/ipc.go
Owners: none

pkg/ipc: support C compiler in non-standard location
  pkg/ipc/ipc.go
Owners: none

pkg/ipc: support C compiler in non-standard location
  pkg/ipc/ipc.go
Owners: none

pkg: support compiler triple for 'nm' and 'addr2line'
  pkg/cover/report.go
  pkg/cover/report_test.go
  pkg/report/akaros.go
  pkg/report/bsd.go
  pkg/report/fuchsia.go
  pkg/report/linux.go
  pkg/symbolizer/nm.go
  pkg/symbolizer/nm_test.go
  pkg/symbolizer/symbolizer.go
  tools/syz-check/check.go
Owners: @mvanotti

sys/linux: add descriptions for new tipc crypto APIs
  sys/linux/socket_tipc_netlink.txt
  sys/linux/socket_tipc_netlink_386.const
  sys/linux/socket_tipc_netlink_amd64.const
  sys/linux/socket_tipc_netlink_arm.const
  sys/linux/socket_tipc_netlink_arm64.const
  sys/linux/socket_tipc_netlink_mips64le.const
  sys/linux/socket_tipc_netlink_ppc64le.const
Owners: none

CONTRIBUTORS: add Jiaheng Hu
  CONTRIBUTORS
Owners: none

sys/linux: add descriptions for new tipc crypto APIs
  sys/linux/socket_tipc_netlink.txt
  sys/linux/socket_tipc_netlink_386.const
  sys/linux/socket_tipc_netlink_amd64.const
  sys/linux/socket_tipc_netlink_arm.const
  sys/linux/socket_tipc_netlink_arm64.const
  sys/linux/socket_tipc_netlink_mips64le.const
  sys/linux/socket_tipc_netlink_ppc64le.const
Owners: none

CONTRIBUTORS: add Jiaheng Hu
  CONTRIBUTORS
Owners: none

pkg: support compiler triple for 'nm' and 'addr2line'
  pkg/cover/report.go
  pkg/cover/report_test.go
  pkg/report/akaros.go
  pkg/report/bsd.go
  pkg/report/fuchsia.go
  pkg/report/linux.go
  pkg/symbolizer/nm.go
  pkg/symbolizer/nm_test.go
  pkg/symbolizer/symbolizer.go
  tools/syz-check/check.go
Owners: @mvanotti

pkg: support compiler triple for 'nm' and 'addr2line'
  pkg/cover/report.go
  pkg/cover/report_test.go
  pkg/report/akaros.go
  pkg/report/bsd.go
  pkg/report/fuchsia.go
  pkg/report/linux.go
  pkg/symbolizer/nm.go
  pkg/symbolizer/nm_test.go
  pkg/symbolizer/symbolizer.go
  tools/syz-check/check.go
Owners: @mvanotti

Makefile: cosmetic fixes
  Makefile
Owners: none

tools/syz-make: reduce number of make jobs
  tools/syz-make/make.go
Owners: none

Makefile: don't reset jobserver
  Makefile
Owners: none

sys/syz-sysgen: be less verbose if no errors happened
  sys/syz-sysgen/sysgen.go
Owners: none

sys/syz-sysgen: be less verbose if no errors happened
  sys/syz-sysgen/sysgen.go
Owners: none

tools/syz-make: reduce number of make jobs
  tools/syz-make/make.go
Owners: none

Makefile: cosmetic fixes
  Makefile
Owners: none

sys/syz-sysgen: be less verbose if no errors happened
  sys/syz-sysgen/sysgen.go
Owners: none

Makefile: don't reset jobserver
  Makefile
Owners: none

Makefile: don't reset jobserver
  Makefile
Owners: none

tools/syz-make: reduce number of make jobs
  tools/syz-make/make.go
Owners: none

Makefile: cosmetic fixes
  Makefile
Owners: none

Update setup_ubuntu-host_qemu-vm_x86-64-kernel.md
  docs/linux/setup_ubuntu-host_qemu-vm_x86-64-kernel.md
Owners: none

Update setup_ubuntu-host_qemu-vm_x86-64-kernel.md
  docs/linux/setup_ubuntu-host_qemu-vm_x86-64-kernel.md
Owners: none

CONTRIBUTORS: add Albert van der Linde
  CONTRIBUTORS
Owners: none

tools/syz-headerparser/headerlib
  tools/syz-headerparser/headerlib/__init__.py
Owners: @xairy

tools/syz-headerparser/headerlib
  tools/syz-headerparser/headerlib/__init__.py
Owners: @xairy

tools/syz-headerparser/headerlib
  tools/syz-headerparser/headerlib/__init__.py
Owners: @xairy

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
