Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

dashbord: dispaly fix bisection attempts as a job list
  dashboard/app/bug.html
  dashboard/app/main.go
Owners: none

sys/netbsd: neutralize compat_50_mknod
  sys/netbsd/init_test.go
  sys/targets/common.go
Owners: @krytarowski, @R3x

sys/netbsd: neutralize compat_50_mknod
  sys/netbsd/init_test.go
  sys/targets/common.go
Owners: @krytarowski, @R3x

sys/targets: introduce HasCallNumber to reduce clutter
  pkg/compiler/consts.go
  pkg/csource/csource.go
  sys/syz-sysgen/sysgen.go
  sys/targets/targets.go
Owners: none

pkg/csource: introduce more structure into emitCallBody
  pkg/csource/csource.go
Owners: none

pkg/csource: abstract/recompute isNative
  pkg/csource/csource.go
Owners: none

pkg/csource: refactor parameters of constArgToStr into helpers
  pkg/csource/csource.go
Owners: none

pkg/csource: abstract/recompute isNative
  pkg/csource/csource.go
Owners: none

sys/targets: introduce HasCallNumber to reduce clutter
  pkg/compiler/consts.go
  pkg/csource/csource.go
  sys/syz-sysgen/sysgen.go
  sys/targets/targets.go
Owners: none

pkg/csource: refactor parameters of constArgToStr into helpers
  pkg/csource/csource.go
Owners: none

pkg/csource: introduce more structure into emitCallBody
  pkg/csource/csource.go
Owners: none

dashboard: integrate bug reminders and discussions
  dashboard/app/config.go
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem_test.go
Owners: none

dashboard: include month into monthly reports
  dashboard/app/reporting_email.go
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem_test.go
  dashboard/dashapi/dashapi.go
Owners: none

dashboard: integrate bug reminders and discussions
  dashboard/app/config.go
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem_test.go
Owners: none

dashboard: include month into monthly reports
  dashboard/app/reporting_email.go
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem_test.go
  dashboard/dashapi/dashapi.go
Owners: none

vm/vmm: adapt to recent vmctl changes
  vm/vmm/vmm.go
Owners: none

vm/vmm: adapt to recent vmctl changes
  vm/vmm/vmm.go
Owners: none

tools: simplify openbsd startup script
  tools/create-openbsd-gce-ci.sh
Owners: @blackgnezdo, @mptre

tools: simplify openbsd startup script
  tools/create-openbsd-gce-ci.sh
Owners: @blackgnezdo, @mptre

syz-verifier/execresult_test.go: fix loop variable misuse
  syz-verifier/execresult_test.go
Owners: none

syz-verifier/execresult_test.go: fix loop variable misuse
  syz-verifier/execresult_test.go
Owners: none

vm/cuttlefish: increase cuttlefish memory
  vm/cuttlefish/cuttlefish.go
Owners: none

vm/cuttlefish: increase cuttlefish memory
  vm/cuttlefish/cuttlefish.go
Owners: none

dashboard: support bug labels
  dashboard/app/api.go
  dashboard/app/bug.html
  dashboard/app/cache.go
  dashboard/app/email_test.go
  dashboard/app/entities.go
  dashboard/app/entities_test.go
  dashboard/app/index.yaml
  dashboard/app/label.go
  dashboard/app/linux_reporting.go
  dashboard/app/main.go
  dashboard/app/main_test.go
  dashboard/app/reporting.go
  dashboard/app/reporting_email.go
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem.go
  dashboard/app/subsystem_test.go
  dashboard/app/templates.html
  pkg/email/parser.go
  pkg/email/parser_test.go
  pkg/html/pages/style.css
Owners: none

dashboard: list sample commands at the bottom of bug reports
  dashboard/app/asset_storage_test.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/mail_bug.txt
  dashboard/app/reporting_email.go
Owners: none

dashboard: list commands at the bottom of the reminder report
  dashboard/app/mail_subsystem.txt
  dashboard/app/subsystem_test.go
Owners: none

dashboard: add Ref column to bug reminders
  dashboard/app/reporting_email.go
  dashboard/app/subsystem_test.go
Owners: none

docs: describe bug labels
  docs/syzbot.md
Owners: none

pkg/email: support multiple commands
  dashboard/app/email_test.go
  dashboard/app/jobs_test.go
  dashboard/app/reporting_email.go
  pkg/email/lore/parse_test.go
  pkg/email/parser.go
  pkg/email/parser_test.go
  pkg/email/reply.go
  pkg/email/reply_test.go
Owners: none

dashboard: let users exclude bugs from monthly reporting
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem_test.go
Owners: none

pkg/email: support multiple commands
  dashboard/app/email_test.go
  dashboard/app/jobs_test.go
  dashboard/app/reporting_email.go
  pkg/email/lore/parse_test.go
  pkg/email/parser.go
  pkg/email/parser_test.go
  pkg/email/reply.go
  pkg/email/reply_test.go
Owners: none

dashboard: let users exclude bugs from monthly reporting
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem_test.go
Owners: none

docs: describe bug labels
  docs/syzbot.md
Owners: none

dashboard: support bug labels
  dashboard/app/api.go
  dashboard/app/bug.html
  dashboard/app/cache.go
  dashboard/app/email_test.go
  dashboard/app/entities.go
  dashboard/app/entities_test.go
  dashboard/app/index.yaml
  dashboard/app/label.go
  dashboard/app/linux_reporting.go
  dashboard/app/main.go
  dashboard/app/main_test.go
  dashboard/app/reporting.go
  dashboard/app/reporting_email.go
  dashboard/app/reporting_lists.go
  dashboard/app/subsystem.go
  dashboard/app/subsystem_test.go
  dashboard/app/templates.html
  pkg/email/parser.go
  pkg/email/parser_test.go
  pkg/html/pages/style.css
Owners: none

dashboard: add Ref column to bug reminders
  dashboard/app/reporting_email.go
  dashboard/app/subsystem_test.go
Owners: none

dashboard: list sample commands at the bottom of bug reports
  dashboard/app/asset_storage_test.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/mail_bug.txt
  dashboard/app/reporting_email.go
Owners: none

dashboard: list commands at the bottom of the reminder report
  dashboard/app/mail_subsystem.txt
  dashboard/app/subsystem_test.go
Owners: none

dashboard: use shorter labels for subsystems
  dashboard/app/main.go
Owners: none

dashboard: use shorter labels for subsystems
  dashboard/app/main.go
Owners: none

dashboard: drop #syz unset from bug's template
  dashboard/app/asset_storage_test.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/mail_bug.txt
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov
