Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov

syz-ci: don't start an idle parallel job processor
  syz-ci/jobs.go
Owners: none

syz-ci: move build semaphore closer to builds
  pkg/bisect/bisect.go
  pkg/instance/instance.go
  syz-ci/jobs.go
  syz-ci/manager.go
  syz-ci/syz-ci.go
  syz-ci/updater.go
  tools/syz-testbuild/testbuild.go
Owners: none

dashboard: support multiple simultaneous jobs
  dashboard/app/api.go
  dashboard/app/bisect_test.go
  dashboard/app/entities.go
  dashboard/app/index.yaml
  dashboard/app/jobs.go
  dashboard/app/jobs_test.go
  dashboard/app/main.go
  dashboard/dashapi/dashapi.go
Owners: none

syz-ci: gate concurrent env.Test executions
  pkg/bisect/bisect.go
  pkg/instance/instance.go
  syz-ci/jobs.go
  syz-ci/manager.go
  syz-ci/syz-ci.go
  tools/syz-testbuild/testbuild.go
Owners: none

dashboard: adjust running jobs criteria
  dashboard/app/main.go
Owners: none

syz-ci: do logging per job processor
  syz-ci/jobs.go
  tools/syz-linter/linter.go
Owners: none

syz-ci: explicitly stop all running jobs on update
  pkg/instance/instance.go
  syz-ci/jobs.go
  syz-ci/syz-ci.go
Owners: none

syz-ci: do jobs in parallel
  syz-ci/jobs.go
  syz-ci/syz-ci.go
Owners: none

tools/docker: adjust the syzbot dockerfile for arm64
  tools/docker/syzbot/Dockerfile
Owners: none

tools/docker: adjust the syzbot dockerfile for arm64
  tools/docker/syzbot/Dockerfile
Owners: none

dashboard: add an admin function to restart failed bisections
  dashboard/app/admin.go
Owners: none

dashboard: add an admin function to restart failed bisections
  dashboard/app/admin.go
Owners: none

tools/docker: describe the syzbot container build process
  tools/docker/README.md
Owners: none

tools/docker: describe the syzbot container build process
  tools/docker/README.md
Owners: none

dashboard: handle decommissioned managers in repro retesting
  dashboard/app/jobs.go
  dashboard/app/jobs_test.go
Owners: none

dashboard: show no more than 10 repro retesting jobs
  dashboard/app/main.go
Owners: none

dashboard: show no more than 10 repro retesting jobs
  dashboard/app/main.go
Owners: none

dashboard: handle decommissioned managers in repro retesting
  dashboard/app/jobs.go
  dashboard/app/jobs_test.go
Owners: none

vm/starnix: fix review comments
  pkg/report/report.go
  vm/starnix/starnix.go
Owners: none

vm/starnix: add support for fuzzing starnix
  README.md
  docs/starnix/README.md
  executor/common_linux.h
  executor/executor_linux.h
  pkg/csource/generated.go
  pkg/osutil/osutil.go
  pkg/report/report.go
  sys/targets/targets.go
  vm/starnix/starnix.go
  vm/vm.go
  vm/vmimpl/vmimpl.go
Owners: none

vm/starnix: add support for fuzzing starnix (#3624)
  README.md
  docs/starnix/README.md
  executor/common_linux.h
  executor/executor_linux.h
  pkg/csource/generated.go
  pkg/osutil/osutil.go
  pkg/report/report.go
  sys/targets/targets.go
  vm/starnix/starnix.go
  vm/vm.go
  vm/vmimpl/vmimpl.go
Owners: none

vm/gvisor: implement vmimpl.Infoer for runsc instances
  CONTRIBUTORS
  vm/gvisor/gvisor.go
Owners: @avagin

vm/gvisor: implement vmimpl.Infoer for runsc instances (#3622)
  CONTRIBUTORS
  vm/gvisor/gvisor.go
Owners: @avagin

docs/starnix: fix typo in manager config file
  docs/starnix/README.md
Owners: none

docs/starnix: fix typo in manager config file
  docs/starnix/README.md
Owners: none

pkg/build: try harder to get a clean build on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: try harder to get a clean build on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/report: detect custom VFS errors
  pkg/report/linux.go
  pkg/report/testdata/linux/report/683
  pkg/report/testdata/linux/report/684
  pkg/report/testdata/linux/report/685
Owners: none

pkg/report: detect custom VFS errors
  pkg/report/linux.go
  pkg/report/testdata/linux/report/683
  pkg/report/testdata/linux/report/684
  pkg/report/testdata/linux/report/685
Owners: none

sys/targets: make the SOURCEDIR setting more granular
  sys/targets/targets.go
Owners: none

sys/targets: make the SOURCEDIR setting more granular
  sys/targets/targets.go
Owners: none

pkg/build/gvisor: make gVisor configuration parsing stricter
  pkg/build/gvisor.go
Owners: @avagin

pkg/build/gvisor: make gVisor configuration parsing stricter (#3617)
  pkg/build/gvisor.go
Owners: @avagin

pkg/build: include all build output in FreeBSD buildkernel errors
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: include all build output in FreeBSD buildkernel errors
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

syz-ci: don't duplicate job instance suffixes
  syz-ci/jobs.go
Owners: none

syz-ci: don't duplicate job instance suffixes
  syz-ci/jobs.go
Owners: none

tools/docker: switch to Clang 15
  tools/docker/env/Dockerfile
  tools/docker/syzbot/Dockerfile
Owners: none

tools/docker: switch to Clang 15
  tools/docker/env/Dockerfile
  tools/docker/syzbot/Dockerfile
Owners: none

dashboard: make Ctx.ContentType more robust
  dashboard/app/util_test.go
Owners: none
