Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre

go.mod: add go-fuzz-build
  Makefile
  go.mod
  go.sum
  pkg/tools/tools.go
  tools/docker/env/Dockerfile
  tools/fuzzit.sh
  vendor/github.com/dvyukov/go-fuzz/LICENSE
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-build/cover.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-build/main.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-defs/defs.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/cover.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/doc.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/main.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/main_libFuzzer.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sonar.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sys_posix.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sys_windows.go
  vendor/github.com/dvyukov/go-fuzz/internal/go-fuzz-types/types.go
  vendor/modules.txt
Owners: @dvyukov

tools/syz-linter: add custom linter
  .golangci.yml
  Makefile
  go.mod
  tools/syz-linter/linter.go
  tools/syz-linter/linter_test.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
  vendor/golang.org/x/tools/go/analysis/analysistest/analysistest.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/flags.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/help.go
  vendor/golang.org/x/tools/go/analysis/internal/checker/checker.go
  vendor/golang.org/x/tools/internal/lsp/diff/diff.go
  vendor/golang.org/x/tools/internal/lsp/diff/myers/diff.go
  vendor/golang.org/x/tools/internal/lsp/diff/unified.go
  vendor/golang.org/x/tools/internal/span/parse.go
  vendor/golang.org/x/tools/internal/span/span.go
  vendor/golang.org/x/tools/internal/span/token.go
  vendor/golang.org/x/tools/internal/span/token111.go
  vendor/golang.org/x/tools/internal/span/token112.go
  vendor/golang.org/x/tools/internal/span/uri.go
  vendor/golang.org/x/tools/internal/span/utf16.go
  vendor/golang.org/x/tools/internal/testenv/testenv.go
  vendor/golang.org/x/tools/internal/testenv/testenv_112.go
  vendor/golang.org/x/tools/txtar/archive.go
  vendor/modules.txt
Owners: @dvyukov

all: fix dup types in func args
  pkg/ast/ast.go
  pkg/build/akaros.go
  pkg/build/freebsd.go
  pkg/compiler/check.go
  pkg/cover/cover.go
  pkg/csource/options.go
  pkg/email/patch.go
  pkg/ifuzz/pseudo.go
  pkg/report/report.go
  pkg/symbolizer/nm_test.go
  pkg/vcs/git_test_util.go
  sys/fuchsia/fidlgen/main.go
  sys/syz-extract/netbsd.go
  syz-fuzzer/fuzzer_test.go
Owners: @markjdb, @tuexen, @mvanotti, @krytarowski, @R3x

tools/syz-linter: add check for dup types in func args
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

all: don't compare string len with 0
  dashboard/app/main.go
  pkg/build/build_test.go
  pkg/csource/csource.go
  pkg/host/syscalls_linux.go
  prog/rand.go
  syz-manager/manager.go
Owners: none

tools/syz-linter: add check for comment format
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: add check for dup types in func args
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: add check for dup types in func args
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: add custom linter
  .golangci.yml
  Makefile
  go.mod
  tools/syz-linter/linter.go
  tools/syz-linter/linter_test.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
  vendor/golang.org/x/tools/go/analysis/analysistest/analysistest.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/flags.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/help.go
  vendor/golang.org/x/tools/go/analysis/internal/checker/checker.go
  vendor/golang.org/x/tools/internal/lsp/diff/diff.go
  vendor/golang.org/x/tools/internal/lsp/diff/myers/diff.go
  vendor/golang.org/x/tools/internal/lsp/diff/unified.go
  vendor/golang.org/x/tools/internal/span/parse.go
  vendor/golang.org/x/tools/internal/span/span.go
  vendor/golang.org/x/tools/internal/span/token.go
  vendor/golang.org/x/tools/internal/span/token111.go
  vendor/golang.org/x/tools/internal/span/token112.go
  vendor/golang.org/x/tools/internal/span/uri.go
  vendor/golang.org/x/tools/internal/span/utf16.go
  vendor/golang.org/x/tools/internal/testenv/testenv.go
  vendor/golang.org/x/tools/internal/testenv/testenv_112.go
  vendor/golang.org/x/tools/txtar/archive.go
  vendor/modules.txt
Owners: @dvyukov

all: don't compare string len with 0
  dashboard/app/main.go
  pkg/build/build_test.go
  pkg/csource/csource.go
  pkg/host/syscalls_linux.go
  prog/rand.go
  syz-manager/manager.go
Owners: none

go.mod: add go-fuzz-build
  Makefile
  go.mod
  go.sum
  pkg/tools/tools.go
  tools/docker/env/Dockerfile
  tools/fuzzit.sh
  vendor/github.com/dvyukov/go-fuzz/LICENSE
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-build/cover.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-build/main.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-defs/defs.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/cover.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/doc.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/main.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/main_libFuzzer.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sonar.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sys_posix.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sys_windows.go
  vendor/github.com/dvyukov/go-fuzz/internal/go-fuzz-types/types.go
  vendor/modules.txt
Owners: @dvyukov

go.mod: add go-fuzz-build
  Makefile
  go.mod
  go.sum
  pkg/tools/tools.go
  tools/docker/env/Dockerfile
  tools/fuzzit.sh
  vendor/github.com/dvyukov/go-fuzz/LICENSE
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-build/cover.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-build/main.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-defs/defs.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/cover.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/doc.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/main.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/main_libFuzzer.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sonar.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sys_posix.go
  vendor/github.com/dvyukov/go-fuzz/go-fuzz-dep/sys_windows.go
  vendor/github.com/dvyukov/go-fuzz/internal/go-fuzz-types/types.go
  vendor/modules.txt
Owners: @dvyukov

all: fix dup types in func args
  pkg/ast/ast.go
  pkg/build/akaros.go
  pkg/build/freebsd.go
  pkg/compiler/check.go
  pkg/cover/cover.go
  pkg/csource/options.go
  pkg/email/patch.go
  pkg/ifuzz/pseudo.go
  pkg/report/report.go
  pkg/symbolizer/nm_test.go
  pkg/vcs/git_test_util.go
  sys/fuchsia/fidlgen/main.go
  sys/syz-extract/netbsd.go
  syz-fuzzer/fuzzer_test.go
Owners: @markjdb, @tuexen, @mvanotti, @krytarowski, @R3x

tools/syz-linter: add check for comment format
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: add check for comment format
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

all: fix dup types in func args
  pkg/ast/ast.go
  pkg/build/akaros.go
  pkg/build/freebsd.go
  pkg/compiler/check.go
  pkg/cover/cover.go
  pkg/csource/options.go
  pkg/email/patch.go
  pkg/ifuzz/pseudo.go
  pkg/report/report.go
  pkg/symbolizer/nm_test.go
  pkg/vcs/git_test_util.go
  sys/fuchsia/fidlgen/main.go
  sys/syz-extract/netbsd.go
  syz-fuzzer/fuzzer_test.go
Owners: @markjdb, @tuexen, @mvanotti, @krytarowski, @R3x

tools/syz-linter: add custom linter
  .golangci.yml
  Makefile
  go.mod
  tools/syz-linter/linter.go
  tools/syz-linter/linter_test.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
  vendor/golang.org/x/tools/go/analysis/analysistest/analysistest.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/flags.go
  vendor/golang.org/x/tools/go/analysis/internal/analysisflags/help.go
  vendor/golang.org/x/tools/go/analysis/internal/checker/checker.go
  vendor/golang.org/x/tools/internal/lsp/diff/diff.go
  vendor/golang.org/x/tools/internal/lsp/diff/myers/diff.go
  vendor/golang.org/x/tools/internal/lsp/diff/unified.go
  vendor/golang.org/x/tools/internal/span/parse.go
  vendor/golang.org/x/tools/internal/span/span.go
  vendor/golang.org/x/tools/internal/span/token.go
  vendor/golang.org/x/tools/internal/span/token111.go
  vendor/golang.org/x/tools/internal/span/token112.go
  vendor/golang.org/x/tools/internal/span/uri.go
  vendor/golang.org/x/tools/internal/span/utf16.go
  vendor/golang.org/x/tools/internal/testenv/testenv.go
  vendor/golang.org/x/tools/internal/testenv/testenv_112.go
  vendor/golang.org/x/tools/txtar/archive.go
  vendor/modules.txt
Owners: @dvyukov

all: don't compare string len with 0
  dashboard/app/main.go
  pkg/build/build_test.go
  pkg/csource/csource.go
  pkg/host/syscalls_linux.go
  prog/rand.go
  syz-manager/manager.go
Owners: none

sys/linux: improved the descriptions for cgroup
  sys/linux/cgroup.txt
Owners: none

sys/linux: improved the descriptions for cgroup
  sys/linux/cgroup.txt
Owners: none

all: fix log/error text starting with capital letter
  dashboard/app/reporting_email.go
  pkg/bisect/bisect_test.go
  pkg/build/openbsd.go
  syz-manager/manager.go
Owners: @blackgnezdo, @mptre

tools/syz-linter: check log/error text starting with capital letter
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: check log/error text ending with dot
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: check log/error text starting with capital letter
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: check log/error text ending with dot
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

all: fix log/error text starting with capital letter
  dashboard/app/reporting_email.go
  pkg/bisect/bisect_test.go
  pkg/build/openbsd.go
  syz-manager/manager.go
Owners: @blackgnezdo, @mptre

tools/syz-linter: check log/error text ending with dot
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

all: fix log/error text starting with capital letter
  dashboard/app/reporting_email.go
  pkg/bisect/bisect_test.go
  pkg/build/openbsd.go
  syz-manager/manager.go
Owners: @blackgnezdo, @mptre

tools/syz-linter: check log/error text starting with capital letter
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: check for \n at the end of log/error text
  syz-ci/manager.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: check variable declarations
  sys/openbsd/init.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: @blackgnezdo, @mptre

tools/syz-linter: introduce helper Pass type
  tools/syz-linter/linter.go
Owners: none

pkg/learning: add Multi-armed-bandit engine
  pkg/learning/mab.go
  pkg/learning/mab_test.go
Owners: none

tools/syz-linter: check variable declarations
  sys/openbsd/init.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: @blackgnezdo, @mptre

tools/syz-linter: introduce helper Pass type
  tools/syz-linter/linter.go
Owners: none

tools/syz-linter: check for \n at the end of log/error text
  syz-ci/manager.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: introduce helper Pass type
  tools/syz-linter/linter.go
Owners: none

tools/syz-linter: check variable declarations
  sys/openbsd/init.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: @blackgnezdo, @mptre

tools/syz-linter: check for \n at the end of log/error text
  syz-ci/manager.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

pkg/osutil: don't use os.ProcessState.ExitCode on appengine
  pkg/osutil/osutil.go
  pkg/osutil/osutil_appengine.go
  pkg/osutil/osutil_noappengine.go
Owners: none
