Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre

sys/openbsd: neutralize sysctl kern.maxthread
  sys/openbsd/init.go
  sys/openbsd/init_test.go
Owners: @blackgnezdo, @mptre

executor: fix use of SYZ_SANDBOX_ANDROID define
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

pkg/csource: add comment re ignoring cpp errors
  pkg/csource/common.go
Owners: none

pkg/csource: add comment re ignoring cpp errors
  pkg/csource/common.go
Owners: none

executor/common_linux.h: open target dir inside syz_mount_image()
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/filesystem.txt
  sys/linux/fs_fuse.txt
  sys/linux/test/syz_mount_image_fuse
Owners: none

sys/linux/test: add test performing getdents64() on FUSE dir
  sys/linux/test/fuse_getdents64
Owners: none

executor/common_linux.h: add syz_fuse_handle_req()
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  sys/linux/fs_fuse.txt
  sys/linux/test/syz_fuse_handle_req
Owners: none

sys/linux/fs_fuse.txt: use bytelen instead of len
  sys/linux/fs_fuse.txt
Owners: none

sys/linux/fs_fuse.txt: define FUSE request id as a resource
  sys/linux/dev_usbmon.txt.const
  sys/linux/fs_fuse.txt
  sys/linux/fs_fuse.txt.const
  sys/linux/test/fuse_deadlock
Owners: none

executor/common_linux.h: add syz_fuse_handle_req()
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  sys/linux/fs_fuse.txt
  sys/linux/test/syz_fuse_handle_req
Owners: none

sys/linux/fs_fuse.txt: use expected flags for fuse_attr.mode
  sys/linux/fs_fuse.txt
Owners: none

sys/linux/test: add test performing getdents64() on FUSE dir
  sys/linux/test/fuse_getdents64
Owners: none

executor/common_linux.h: open target dir inside syz_mount_image()
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/filesystem.txt
  sys/linux/fs_fuse.txt
  sys/linux/test/syz_mount_image_fuse
Owners: none

sys/linux/fs_fuse.txt: use bytelen instead of len
  sys/linux/fs_fuse.txt
Owners: none

docs: add reference to "Fuzzing the OpenBSD Kernel"
  docs/talks.md
Owners: none

sys/linux: make bpf_lsm_btf_id optional
  sys/linux/bpf_lsm.txt
Owners: none

docs: add reference to "HFL: Hybrid Fuzzing on the Linux Kernel"
  docs/research.md
Owners: none

docs: add reference to "Industry Practice of Coverage-Guided Enterprise Linux Kernel Fuzzing"
  docs/research.md
Owners: none

docs: add reference to "Exploiting the Linux kernel via packet sockets"
  docs/talks.md
Owners: none

executor/common_linux.go: fix build breakage for Linux 4.14
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

pkg/build: add configuration to /boot/loader.conf.local on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

vm/vmimpl: disallow ssh authentication agent
  vm/vmimpl/util.go
Owners: none

pkg/build: add configuration to /boot/loader.conf.local on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

vm/vmimpl: disallow ssh authentication agent
  vm/vmimpl/util.go
Owners: none

executor/common_linux.go: fix build breakage for Linux 4.14
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

Revert "vm/vmimpl: disallow ssh authentication agent"
  vm/vmimpl/util.go
Owners: none

sys/targets: update fuchsia CFLAGS
  sys/targets/targets.go
Owners: none

sys/targets: update fuchsia CFLAGS
  sys/targets/targets.go
Owners: none

sys/linux: add lwtunnel_encap_seg6 description
  sys/linux/socket_netlink_route.txt
  sys/linux/socket_netlink_route.txt.const
Owners: none

sys/linux: add lwtunnel_encap_seg6 description
  sys/linux/socket_netlink_route.txt
  sys/linux/socket_netlink_route.txt.const
Owners: none

docs/linux: update recommended kernel to 5.9-rc1
  docs/linux/setup_linux-host_qemu-vm_riscv64-kernel.md
Owners: none

Missing space at end of line of command
  docs/linux/setup_ubuntu-host_qemu-vm_x86-64-kernel.md
Owners: none

Missing space at end of line of command
  docs/linux/setup_ubuntu-host_qemu-vm_x86-64-kernel.md
Owners: none

sys/linux: add BTRFS specific ioctls
  sys/linux/fs_ioctl_btrfs.txt
  sys/linux/fs_ioctl_btrfs.txt.const
Owners: none

sys/linux: add BTRFS specific ioctls
  sys/linux/fs_ioctl_btrfs.txt
  sys/linux/fs_ioctl_btrfs.txt.const
Owners: none

sys/linux: add descriptions of vga_arbiter
  sys/linux/dev_vga_arbiter.txt
  sys/linux/dev_vga_arbiter.txt.const
  sys/linux/sys.txt
Owners: none

docs/usage.md: correct grammatical error
  docs/usage.md
Owners: none

docs/usage.md: correct grammatical error
  docs/usage.md
Owners: none

docs/linux: fix KMEMLEAK variable in suggested kernel configs
  docs/linux/kernel_configs.md
Owners: none

sys/linux: add descriptions of vga_arbiter
  sys/linux/dev_vga_arbiter.txt
  sys/linux/dev_vga_arbiter.txt.const
  sys/linux/sys.txt
Owners: none
