Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

dashboard: drop #syz unset from bug's template
  dashboard/app/asset_storage_test.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/mail_bug.txt
Owners: none

dashboard/config/linux: enable IOMMU/DMA configs
  dashboard/config/linux/bits/subsystems.yml
  dashboard/config/linux/stable-5.15-kasan.config
  dashboard/config/linux/stable-5.4-kasan.config
  dashboard/config/linux/stable-6.1-kasan.config
  dashboard/config/linux/upstream-apparmor-kasan.config
  dashboard/config/linux/upstream-kmsan.config
  dashboard/config/linux/upstream-leak.config
  dashboard/config/linux/upstream-selinux-kasan.config
  dashboard/config/linux/upstream-smack-kasan.config
Owners: none

dashboard/config/linux: update configs to latest kernels
  dashboard/config/linux/bits/arm64_emu.yml
  dashboard/config/linux/bits/base.yml
  dashboard/config/linux/bits/linux-next.yml
  dashboard/config/linux/bits/linux-upstream.yml
  dashboard/config/linux/bits/subsystems.yml
  dashboard/config/linux/stable-5.15-arm64-kasan.config
  dashboard/config/linux/stable-5.15-kasan.config
  dashboard/config/linux/stable-5.4-kasan.config
  dashboard/config/linux/stable-6.1-arm64-kasan.config
  dashboard/config/linux/stable-6.1-kasan.config
  dashboard/config/linux/upstream-apparmor-kasan-base.config
  dashboard/config/linux/upstream-apparmor-kasan.config
  dashboard/config/linux/upstream-arm-full-base.config
  dashboard/config/linux/upstream-arm-full.config
  dashboard/config/linux/upstream-arm-kasan-base.config
  dashboard/config/linux/upstream-arm-kasan.config
  dashboard/config/linux/upstream-arm64-full-base.config
  dashboard/config/linux/upstream-arm64-full.config
  dashboard/config/linux/upstream-arm64-kasan-base.config
  dashboard/config/linux/upstream-arm64-kasan.config
  dashboard/config/linux/upstream-arm64-mte-base.config
  dashboard/config/linux/upstream-arm64-mte.config
  dashboard/config/linux/upstream-kcsan-base.config
  dashboard/config/linux/upstream-kcsan.config
  dashboard/config/linux/upstream-kmsan.config
  dashboard/config/linux/upstream-leak-base.config
  dashboard/config/linux/upstream-leak.config
  dashboard/config/linux/upstream-riscv64-kasan-base.config
  dashboard/config/linux/upstream-riscv64-kasan.config
  dashboard/config/linux/upstream-s390-kasan-base.config
  dashboard/config/linux/upstream-s390-kasan.config
  dashboard/config/linux/upstream-selinux-kasan-base.config
  dashboard/config/linux/upstream-selinux-kasan.config
  dashboard/config/linux/upstream-smack-kasan-base.config
  dashboard/config/linux/upstream-smack-kasan.config
  dashboard/config/linux/upstream-usb-base.config
  dashboard/config/linux/upstream-usb.config
Owners: none

dashboard/config/linux: enable IOMMU/DMA configs
  dashboard/config/linux/bits/subsystems.yml
  dashboard/config/linux/stable-5.15-kasan.config
  dashboard/config/linux/stable-5.4-kasan.config
  dashboard/config/linux/stable-6.1-kasan.config
  dashboard/config/linux/upstream-apparmor-kasan.config
  dashboard/config/linux/upstream-kmsan.config
  dashboard/config/linux/upstream-leak.config
  dashboard/config/linux/upstream-selinux-kasan.config
  dashboard/config/linux/upstream-smack-kasan.config
Owners: none

dashboard/config/linux: update configs to latest kernels
  dashboard/config/linux/bits/arm64_emu.yml
  dashboard/config/linux/bits/base.yml
  dashboard/config/linux/bits/linux-next.yml
  dashboard/config/linux/bits/linux-upstream.yml
  dashboard/config/linux/bits/subsystems.yml
  dashboard/config/linux/stable-5.15-arm64-kasan.config
  dashboard/config/linux/stable-5.15-kasan.config
  dashboard/config/linux/stable-5.4-kasan.config
  dashboard/config/linux/stable-6.1-arm64-kasan.config
  dashboard/config/linux/stable-6.1-kasan.config
  dashboard/config/linux/upstream-apparmor-kasan-base.config
  dashboard/config/linux/upstream-apparmor-kasan.config
  dashboard/config/linux/upstream-arm-full-base.config
  dashboard/config/linux/upstream-arm-full.config
  dashboard/config/linux/upstream-arm-kasan-base.config
  dashboard/config/linux/upstream-arm-kasan.config
  dashboard/config/linux/upstream-arm64-full-base.config
  dashboard/config/linux/upstream-arm64-full.config
  dashboard/config/linux/upstream-arm64-kasan-base.config
  dashboard/config/linux/upstream-arm64-kasan.config
  dashboard/config/linux/upstream-arm64-mte-base.config
  dashboard/config/linux/upstream-arm64-mte.config
  dashboard/config/linux/upstream-kcsan-base.config
  dashboard/config/linux/upstream-kcsan.config
  dashboard/config/linux/upstream-kmsan.config
  dashboard/config/linux/upstream-leak-base.config
  dashboard/config/linux/upstream-leak.config
  dashboard/config/linux/upstream-riscv64-kasan-base.config
  dashboard/config/linux/upstream-riscv64-kasan.config
  dashboard/config/linux/upstream-s390-kasan-base.config
  dashboard/config/linux/upstream-s390-kasan.config
  dashboard/config/linux/upstream-selinux-kasan-base.config
  dashboard/config/linux/upstream-selinux-kasan.config
  dashboard/config/linux/upstream-smack-kasan-base.config
  dashboard/config/linux/upstream-smack-kasan.config
  dashboard/config/linux/upstream-usb-base.config
  dashboard/config/linux/upstream-usb.config
Owners: none

executor: detangle common_openbsd.h out of common_bsd.h
  executor/common.h
  executor/common_openbsd.h
  pkg/csource/gen.go
  pkg/csource/generated.go
  sys/openbsd/vnet.txt
Owners: @blackgnezdo, @mptre

executor: remove openbsd bits out of common_bsd.h
  executor/common_bsd.h
  pkg/csource/generated.go
Owners: none

sys/targets: switch openbsd to SyscallNumbers: false
  executor/common_bsd.h
  executor/executor_bsd.h
  pkg/csource/generated.go
  sys/targets/targets.go
Owners: none

sys/targets: switch openbsd to SyscallNumbers: false
  executor/common_bsd.h
  executor/executor_bsd.h
  pkg/csource/generated.go
  sys/targets/targets.go
Owners: none

executor: remove openbsd bits out of common_bsd.h
  executor/common_bsd.h
  pkg/csource/generated.go
Owners: none

executor: detangle common_openbsd.h out of common_bsd.h
  executor/common.h
  executor/common_openbsd.h
  pkg/csource/gen.go
  pkg/csource/generated.go
  sys/openbsd/vnet.txt
Owners: @blackgnezdo, @mptre

dashboard: fix subsystem page filtering
  dashboard/app/entities.go
  dashboard/app/main.go
Owners: none

dashboard: fix subsystem page filtering
  dashboard/app/entities.go
  dashboard/app/main.go
Owners: none

syz-fuzzer: avoid recognizing unsupported syscalls as kernel oops
  syz-fuzzer/testing.go
Owners: none

syz-fuzzer: avoid recognizing unsupported syscalls as kernel oops
  syz-fuzzer/testing.go
Owners: none

dashboard: enable CONFIG_PAGE_TABLE_CHECK on Linux targets
  dashboard/config/linux/bits/debug.yml
  dashboard/config/linux/stable-6.1-arm64-kasan-base.config
  dashboard/config/linux/stable-6.1-arm64-kasan.config
  dashboard/config/linux/stable-6.1-kasan-base.config
  dashboard/config/linux/stable-6.1-kasan.config
  dashboard/config/linux/upstream-apparmor-kasan-base.config
  dashboard/config/linux/upstream-apparmor-kasan.config
  dashboard/config/linux/upstream-arm64-full-base.config
  dashboard/config/linux/upstream-arm64-full.config
  dashboard/config/linux/upstream-selinux-kasan-base.config
  dashboard/config/linux/upstream-selinux-kasan.config
  dashboard/config/linux/upstream-smack-kasan-base.config
  dashboard/config/linux/upstream-smack-kasan.config
  dashboard/config/linux/upstream-usb-base.config
  dashboard/config/linux/upstream-usb.config
Owners: none

dashboard: enable CONFIG_PAGE_TABLE_CHECK on Linux targets
  dashboard/config/linux/bits/debug.yml
  dashboard/config/linux/stable-6.1-arm64-kasan-base.config
  dashboard/config/linux/stable-6.1-arm64-kasan.config
  dashboard/config/linux/stable-6.1-kasan-base.config
  dashboard/config/linux/stable-6.1-kasan.config
  dashboard/config/linux/upstream-apparmor-kasan-base.config
  dashboard/config/linux/upstream-apparmor-kasan.config
  dashboard/config/linux/upstream-arm64-full-base.config
  dashboard/config/linux/upstream-arm64-full.config
  dashboard/config/linux/upstream-selinux-kasan-base.config
  dashboard/config/linux/upstream-selinux-kasan.config
  dashboard/config/linux/upstream-smack-kasan-base.config
  dashboard/config/linux/upstream-smack-kasan.config
  dashboard/config/linux/upstream-usb-base.config
  dashboard/config/linux/upstream-usb.config
Owners: none

dashboard: add hints to the new repro email
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/mail_bug.txt
Owners: none

dashboard: add hints to the new repro email
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/mail_bug.txt
Owners: none

dashboard: use a down-pointing triangle in collapsible blocks
  dashboard/app/bug.html
Owners: none

dashboard: use a down-pointing triangle in collapsible blocks
  dashboard/app/bug.html
Owners: none

dashboard: ensure that repo aliases are all different
  dashboard/app/app_test.go
  dashboard/app/config.go
Owners: none

pkg/vcs: extract merge bases of two commits
  pkg/vcs/fuchsia.go
  pkg/vcs/git.go
  pkg/vcs/git_test.go
  pkg/vcs/vcs.go
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

all: support patch testing on merge base
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/dashapi/dashapi.go
  syz-ci/jobs.go
Owners: none

dashboard: mock KernelRepo list
  dashboard/app/api.go
  dashboard/app/config.go
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/app/main.go
  dashboard/app/reporting.go
Owners: none

syz-ci: extract job commit fetching logic
  syz-ci/jobs.go
Owners: none

dashboard: rename KernelRepo.Obsolete to NoPoll
  dashboard/app/api.go
  dashboard/app/app_test.go
  dashboard/app/config.go
Owners: none

dashboard: determine bug origin trees and missing backports
  dashboard/app/app_test.go
  dashboard/app/config.go
  dashboard/app/email_test.go
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/app/label.go
  dashboard/app/tree.go
  dashboard/app/tree_test.go
  dashboard/app/util_test.go
Owners: none

dashboard: recognize tree origin testing jobs
  dashboard/app/main.go
  dashboard/app/templates.html
Owners: none

dashboard: prioritize Merge=true KernelRepo links
  dashboard/app/tree.go
  dashboard/app/tree_test.go
Owners: none

dashboard: determine bug origin trees and missing backports
  dashboard/app/app_test.go
  dashboard/app/config.go
  dashboard/app/email_test.go
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/app/label.go
  dashboard/app/tree.go
  dashboard/app/tree_test.go
  dashboard/app/util_test.go
Owners: none

dashboard: recognize tree origin testing jobs
  dashboard/app/main.go
  dashboard/app/templates.html
Owners: none

dashboard: rename KernelRepo.Obsolete to NoPoll
  dashboard/app/api.go
  dashboard/app/app_test.go
  dashboard/app/config.go
Owners: none

pkg/vcs: extract merge bases of two commits
  pkg/vcs/fuchsia.go
  pkg/vcs/git.go
  pkg/vcs/git_test.go
  pkg/vcs/vcs.go
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

syz-ci: extract job commit fetching logic
  syz-ci/jobs.go
Owners: none

all: support patch testing on merge base
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/dashapi/dashapi.go
  syz-ci/jobs.go
Owners: none

dashboard: prioritize Merge=true KernelRepo links
  dashboard/app/tree.go
  dashboard/app/tree_test.go
Owners: none

dashboard: mock KernelRepo list
  dashboard/app/api.go
  dashboard/app/config.go
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/app/main.go
  dashboard/app/reporting.go
Owners: none

dashboard: ensure that repo aliases are all different
  dashboard/app/app_test.go
  dashboard/app/config.go
Owners: none

dashboard/config/openbsd: simpify image building
  dashboard/config/openbsd/recreate.sh
Owners: @blackgnezdo, @mptre

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov
