Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov

pkg/subsystem: add tls email exception
  pkg/subsystem/linux/names.go
Owners: none

docs: typo fixes
  docs/akaros/README.md
  docs/contributing.md
  docs/coverage.md
  docs/linux/external_fuzzing_network.md
  docs/linux/reporting_kernel_bugs.md
  docs/linux/setup_linux-host_isolated.md
  docs/linux/setup_ubuntu-host_odroid-c2-board_arm64-kernel.md
  docs/linux/setup_ubuntu-host_vmware-vm_x86-64-kernel.md
  docs/netbsd/README.md
  docs/setup_syzbot.md
  docs/strace.md
  docs/syscall_descriptions.md
  docs/syzbot.md
Owners: @krytarowski, @R3x

docs: typo fixes
  docs/akaros/README.md
  docs/contributing.md
  docs/coverage.md
  docs/linux/external_fuzzing_network.md
  docs/linux/reporting_kernel_bugs.md
  docs/linux/setup_linux-host_isolated.md
  docs/linux/setup_ubuntu-host_odroid-c2-board_arm64-kernel.md
  docs/linux/setup_ubuntu-host_vmware-vm_x86-64-kernel.md
  docs/netbsd/README.md
  docs/setup_syzbot.md
  docs/strace.md
  docs/syscall_descriptions.md
  docs/syzbot.md
Owners: @krytarowski, @R3x

sys/linux/filesystem: add MOVE_MOUNT_SET_GROUP coverage
  sys/linux/filesystem.txt
  sys/linux/filesystem.txt.const
Owners: none

sys/linux/filesystem: add MOVE_MOUNT_BENEATH coverage
  sys/linux/filesystem.txt
  sys/linux/filesystem.txt.const
Owners: none

sys/linux/filesystem: add MOVE_MOUNT_BENEATH coverage
  sys/linux/filesystem.txt
  sys/linux/filesystem.txt.const
Owners: none

sys/linux/filesystem: add MOVE_MOUNT_SET_GROUP coverage
  sys/linux/filesystem.txt
  sys/linux/filesystem.txt.const
Owners: none

executor: cope with mimmutable(2) on OpenBSD
  executor/executor.cc
Owners: none

sys/fuchsia: added exception syscalls definitions (#3449)
  sys/fuchsia/exception.txt
  sys/fuchsia/profile.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/targets: fix -static-pie for s390x arch
  sys/targets/targets.go
Owners: none

executor: add setup_ext_test extension point
  executor/common.h
  executor/common_ext.h
  executor/common_ext_example.h
  executor/common_ext_test.go
  pkg/csource/csource_test.go
  pkg/csource/generated.go
Owners: none

vm/proxyapp: configure proxyApp log output (#3459)
  vm/proxyapp/init.go
  vm/proxyapp/proxyappclient.go
Owners: none

pkg/report: parse stack in "inconsistent lock state" reports
  pkg/report/linux.go
  pkg/report/testdata/linux/report/543
  pkg/report/testdata/linux/report/665
  pkg/report/testdata/linux/report/669
Owners: none

sys/fuchsia: move zx_rights definition and add compound rights consts
  sys/fuchsia/handle.txt
  sys/fuchsia/rights.txt
  sys/fuchsia/rights_amd64.const
  sys/fuchsia/rights_arm64.const
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/fuchsia: add definitions for pager syscalls
  sys/fuchsia/pager.txt
  sys/fuchsia/pager_amd64.const
  sys/fuchsia/pager_arm64.const
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

vm/proxyapp: logging over rpc
  vm/proxyapp/proxyappclient.go
  vm/proxyapp/proxyappclient_mocks_test.go
  vm/proxyapp/proxyappclient_test.go
Owners: none

sys/fuchsia: updated iommu syscall definition
  sys/fuchsia/iommu.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

syz-ci: identify the correct kernel image name
  pkg/build/linux.go
  syz-ci/manager.go
Owners: none

sys/fuchsia: updated channel syscall definitions
  sys/fuchsia/channel.txt
  sys/fuchsia/channel_amd64.const
  sys/fuchsia/channel_arm64.const
  sys/fuchsia/channels.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

executor: deal with input_data more sensibly
  executor/executor.cc
Owners: none

pkg/report: add some "inconsistent lock state" samples
  pkg/report/testdata/linux/report/665
  pkg/report/testdata/linux/report/666
  pkg/report/testdata/linux/report/667
  pkg/report/testdata/linux/report/668
  pkg/report/testdata/linux/report/669
Owners: none

sys/fuchsia: updated interrupt syscalls definitions
  sys/fuchsia/interrupt.txt
  sys/fuchsia/interrupt_amd64.const
  sys/fuchsia/interrupt_arm64.const
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/fuchsia: updated msi syscalls definitions
  sys/fuchsia/msi.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

pkg/build: update fuchsia tools target name
  docs/fuchsia/README.md
  docs/fuchsia/setup.sh
  pkg/build/fuchsia.go
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

tools/syz-cover: allow saving coverage HTML report to a particular file
  tools/syz-cover/syz-cover.go
Owners: none

.golangci.yml: change golint to revive (#3465)
  .golangci.yml
Owners: none

executor: remove a few #defines which are not used any longer
  executor/executor.cc
Owners: none

pkg/build: don't take trailing arguments in runMakeImpl
  pkg/build/linux.go
Owners: none

pkg/log: add V() support to check verbosity
  pkg/log/log.go
Owners: none

syz-fuzzer/fuzzer.go: use different prefixes for errors
  syz-fuzzer/fuzzer.go
Owners: none

sys/fuchsia: minor debuglog update
  sys/fuchsia/debuglog.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/fuchsia: updated cache syscalls definitions
  sys/fuchsia/cache.txt
  sys/fuchsia/cache_amd64.const
  sys/fuchsia/cache_arm64.const
  sys/fuchsia/ddk.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/fuchsia: update guest syscalls definitions
  sys/fuchsia/guest.txt
  sys/fuchsia/guest_amd64.const
  sys/fuchsia/guest_arm64.const
  sys/fuchsia/guests_amd64.const
  sys/fuchsia/guests_arm64.const
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/linux: remove references to DECnet
  sys/linux/socket.txt
  sys/linux/socket.txt.const
  sys/linux/socket_netlink_netfilter.txt
  sys/linux/socket_netlink_netfilter.txt.const
Owners: none

sys/fuchsia: updated fifo syzkaller definitions
  sys/fuchsia/fifo.txt
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

sys/fuchsia: update system syscall definitions
  sys/fuchsia/sys.txt
  sys/fuchsia/system.txt
  sys/fuchsia/system_amd64.const
  sys/fuchsia/system_arm64.const
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

dashboard: infer bug info from subject and mailing list
  dashboard/app/app_test.go
  dashboard/app/email_test.go
  dashboard/app/reporting_email.go
  dashboard/app/util_test.go
Owners: none

pkg/build: add kernel config to output dir for android
  pkg/build/android.go
Owners: none

sys/fuchsia: updated object syscalls definitions
  sys/fuchsia/object.txt
  sys/fuchsia/object_amd64.const
  sys/fuchsia/object_arm64.const
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

executor: include sys/mman.h (#3476)
  executor/executor_fuchsia.h
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig
