Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov

tools: switch to approved syz-ci buliding recipe
  tools/create-openbsd-gce-ci.sh
Owners: @blackgnezdo, @mptre

tools: switch to approved syz-ci buliding recipe
  tools/create-openbsd-gce-ci.sh
Owners: @blackgnezdo, @mptre

dashboard/config/openbsd: simpify image building
  dashboard/config/openbsd/recreate.sh
Owners: @blackgnezdo, @mptre

pkg/subsystem: trace subsystem assignment
  pkg/subsystem/extractor.go
Owners: none

dashboard: let admins trace subsystem assignment
  dashboard/app/api.go
  dashboard/app/bug.html
  dashboard/app/main.go
  dashboard/app/subsystem.go
Owners: none

pkg/subsystem: trace subsystem assignment
  pkg/subsystem/extractor.go
Owners: none

dashboard: let admins trace subsystem assignment
  dashboard/app/api.go
  dashboard/app/bug.html
  dashboard/app/main.go
  dashboard/app/subsystem.go
Owners: none

dashboard: allow duplicate tree origin labels
  dashboard/app/config.go
Owners: none

dashboard: allow duplicate tree origin labels
  dashboard/app/config.go
Owners: none

sys/syz-extract: fix meta checking when using explicit file list
  sys/syz-extract/extract.go
Owners: none

sys/syz-extract: fix meta checking when using explicit file list
  sys/syz-extract/extract.go
Owners: none

syz-manager, pkg/cover: normalize module PCs between VM instances
  pkg/cover/canonicalizer.go
  pkg/cover/canonicalizer_test.go
  pkg/host/machine_info.go
  pkg/host/machine_info_linux.go
  syz-manager/manager.go
  syz-manager/rpc.go
Owners: none

syz-manager, pkg/cover: normalize module PCs between VM instances
  pkg/cover/canonicalizer.go
  pkg/cover/canonicalizer_test.go
  pkg/host/machine_info.go
  pkg/host/machine_info_linux.go
  syz-manager/manager.go
  syz-manager/rpc.go
Owners: none

syz-manager: jump to phaseTriagedHub after a timeout
  syz-manager/hub.go
  syz-manager/manager.go
Owners: none

syz-manager: jump to phaseTriagedHub after a timeout
  syz-manager/hub.go
  syz-manager/manager.go
Owners: none

dashboard: enable CONFIG_PAGE_TABLE_CHECK for emu targets
  dashboard/config/linux/bits/debug.yml
  dashboard/config/linux/upstream-arm64-kasan-base.config
  dashboard/config/linux/upstream-arm64-kasan.config
  dashboard/config/linux/upstream-riscv64-kasan-base.config
  dashboard/config/linux/upstream-riscv64-kasan.config
Owners: none

dashboard: enable CONFIG_PAGE_TABLE_CHECK for emu targets
  dashboard/config/linux/bits/debug.yml
  dashboard/config/linux/upstream-arm64-kasan-base.config
  dashboard/config/linux/upstream-arm64-kasan.config
  dashboard/config/linux/upstream-riscv64-kasan-base.config
  dashboard/config/linux/upstream-riscv64-kasan.config
Owners: none

executor: add missing header for syz_mount_image
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

dashboard: move common bug filtering to createPatchTestingJobs
  dashboard/app/jobs.go
  dashboard/app/reporting.go
Owners: none

dashboard: don't create jobs for decommissioned namespaces
  dashboard/app/jobs.go
Owners: none

dashboard: don't create jobs for decommissioned namespaces
  dashboard/app/jobs.go
Owners: none

dashboard: move common bug filtering to createPatchTestingJobs
  dashboard/app/jobs.go
  dashboard/app/reporting.go
Owners: none

sys/linux: add CET(Control-flow Enforcement Technology) user space SHSTK(Shadow Stack) test file
  sys/linux/test/cet_user_shstk
Owners: none

sys/linux: add CET(Control-flow Enforcement Technology) user space SHSTK(Shadow Stack) test file
  sys/linux/test/cet_user_shstk
Owners: none

tools/docker: add unzip dependency to syz-env
  tools/docker/env/Dockerfile
Owners: none

tools/docker: update git version
  tools/docker/env/Dockerfile
  tools/docker/syzbot/Dockerfile
Owners: none

tools/docker: update git version
  tools/docker/env/Dockerfile
  tools/docker/syzbot/Dockerfile
Owners: none

tools/docker: add unzip dependency to syz-env
  tools/docker/env/Dockerfile
Owners: none

pkg/csource: compile single pseudo syscalls
  pkg/csource/csource_test.go
  prog/rand.go
Owners: none

executor: resolve pseudo syscall compilation problems
  executor/common.h
  executor/common_bsd.h
  executor/common_linux.h
  executor/common_usb.h
  executor/common_usb_linux.h
  executor/common_usb_netbsd.h
  pkg/csource/generated.go
Owners: @krytarowski, @R3x

executor: resolve pseudo syscall compilation problems
  executor/common.h
  executor/common_bsd.h
  executor/common_linux.h
  executor/common_usb.h
  executor/common_usb_linux.h
  executor/common_usb_netbsd.h
  pkg/csource/generated.go
Owners: @krytarowski, @R3x

pkg/csource: compile single pseudo syscalls
  pkg/csource/csource_test.go
  prog/rand.go
Owners: none

dashboard/config/linux: change branch and update to latest Android 5.10-lts
  dashboard/config/linux/android-5.10-base.config
  dashboard/config/linux/android-5.10.config
  dashboard/config/linux/bits/android-5.10.yml
Owners: none

dashboard/config/linux: add support for Android 6.1
  AUTHORS
  CONTRIBUTORS
  dashboard/config/linux/android-6.1-base.config
  dashboard/config/linux/android-6.1.config
  dashboard/config/linux/bits/android-6.1.yml
  dashboard/config/linux/main.yml
Owners: none

Revert "dashboard: bump CONFIG_FRAME_WARN for Android kernels"
  dashboard/config/linux/android-5.10-base.config
  dashboard/config/linux/android-5.10.config
  dashboard/config/linux/android-5.15-base.config
  dashboard/config/linux/android-5.15.config
  dashboard/config/linux/android-5.4-base.config
  dashboard/config/linux/android-5.4.config
  dashboard/config/linux/bits/android.yml
Owners: none

dashboard/config/linux: update to latest Android 5.15-lts
  dashboard/config/linux/android-5.15-base.config
  dashboard/config/linux/android-5.15.config
  dashboard/config/linux/bits/android-5.15.yml
Owners: none

dashboard/config/linux: update to latest Android 5.4-lts
  dashboard/config/linux/android-5.4-base.config
  dashboard/config/linux/android-5.4.config
  dashboard/config/linux/bits/android-5.4.yml
  dashboard/config/linux/bits/base.yml
Owners: none

dashboard/config/linux: update to latest Android 5.15-lts
  dashboard/config/linux/android-5.15-base.config
  dashboard/config/linux/android-5.15.config
  dashboard/config/linux/bits/android-5.15.yml
Owners: none

dashboard/config/linux: update to latest Android 5.4-lts
  dashboard/config/linux/android-5.4-base.config
  dashboard/config/linux/android-5.4.config
  dashboard/config/linux/bits/android-5.4.yml
  dashboard/config/linux/bits/base.yml
Owners: none

dashboard/config/linux: change branch and update to latest Android 5.10-lts
  dashboard/config/linux/android-5.10-base.config
  dashboard/config/linux/android-5.10.config
  dashboard/config/linux/bits/android-5.10.yml
Owners: none
