Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

Revert "executor: enable extra coverage on OpenBSD"
  executor/executor_bsd.h
  pkg/host/host_openbsd.go
Owners: @blackgnezdo, @mptre

sys/linux: add l2cap_conf_opt options
  sys/linux/l2cap.txt
  sys/linux/l2cap_386.const
  sys/linux/l2cap_amd64.const
  sys/linux/l2cap_arm.const
  sys/linux/l2cap_arm64.const
  sys/linux/l2cap_mips64le.const
  sys/linux/l2cap_ppc64le.const
  sys/linux/l2cap_riscv64.const
  sys/linux/l2cap_s390x.const
Owners: none

sys/linux: refine some l2cap flags
  sys/linux/l2cap.txt
  sys/linux/l2cap_386.const
  sys/linux/l2cap_amd64.const
  sys/linux/l2cap_arm.const
  sys/linux/l2cap_arm64.const
  sys/linux/l2cap_mips64le.const
  sys/linux/l2cap_ppc64le.const
  sys/linux/l2cap_riscv64.const
  sys/linux/l2cap_s390x.const
Owners: none

sys/linux: refine some l2cap flags
  sys/linux/l2cap.txt
  sys/linux/l2cap_386.const
  sys/linux/l2cap_amd64.const
  sys/linux/l2cap_arm.const
  sys/linux/l2cap_arm64.const
  sys/linux/l2cap_mips64le.const
  sys/linux/l2cap_ppc64le.const
  sys/linux/l2cap_riscv64.const
  sys/linux/l2cap_s390x.const
Owners: none

sys/linux: add more HCI_EV_CMD_COMPLETE types
  sys/linux/dev_vhci.txt
  sys/linux/dev_vhci_386.const
  sys/linux/dev_vhci_amd64.const
  sys/linux/dev_vhci_arm.const
  sys/linux/dev_vhci_arm64.const
  sys/linux/dev_vhci_mips64le.const
  sys/linux/dev_vhci_ppc64le.const
  sys/linux/dev_vhci_riscv64.const
  sys/linux/dev_vhci_s390x.const
Owners: none

sys/linux: add more HCI_EV_CMD_COMPLETE types
  sys/linux/dev_vhci.txt
  sys/linux/dev_vhci_386.const
  sys/linux/dev_vhci_amd64.const
  sys/linux/dev_vhci_arm.const
  sys/linux/dev_vhci_arm64.const
  sys/linux/dev_vhci_mips64le.const
  sys/linux/dev_vhci_ppc64le.const
  sys/linux/dev_vhci_riscv64.const
  sys/linux/dev_vhci_s390x.const
Owners: none

all: fake hci le conn using handle 201
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/dev_vhci.txt
Owners: none

sys/linux/l2cap.txt: no array for l2cap_cid_le_signaling
  sys/linux/l2cap.txt
Owners: none

sys/linux/l2cap.txt: no array for l2cap_cid_le_signaling
  sys/linux/l2cap.txt
Owners: none

all: fake hci le conn using handle 201
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/dev_vhci.txt
Owners: none

prog: testing of check-copyright
  prog/new.go
  prog/types.go
Owners: none

all: test for check-language
  docs/linux/setup.md
  executor/common_linux.h
  executor/executor.cc
Owners: none

sys/linux: add HCI_COMMAND_PKT descriptions
  sys/linux/dev_vhci.txt
  sys/linux/dev_vhci_386.const
  sys/linux/dev_vhci_amd64.const
  sys/linux/dev_vhci_arm.const
  sys/linux/dev_vhci_arm64.const
  sys/linux/dev_vhci_mips64le.const
  sys/linux/dev_vhci_ppc64le.const
  sys/linux/dev_vhci_riscv64.const
  sys/linux/dev_vhci_s390x.const
  sys/linux/socket_bluetooth.txt
Owners: none

prog: whatever, I will just copy-paste some code
  prog/types.go
Owners: none

dashboard/config: regenerate all configs
  dashboard/config/upstream-kasan.config
  dashboard/config/upstream-kcsan.config
  dashboard/config/upstream-kmsan.config
  dashboard/config/upstream-usb.config
Owners: none

pkg/compiler: check for unused resources
  pkg/compiler/check.go
  pkg/compiler/testdata/errors2.txt
  sys/freebsd/socket_inet_icmp.txt
  sys/fuchsia/events.txt
  sys/fuchsia/fuchsia_io.syz.txt
  sys/fuchsia/objects.txt
  sys/fuchsia/posix.txt
  sys/fuchsia/streams.txt
  sys/linux/bpf.txt
  sys/linux/dev_infiniband_rdma.txt
  sys/linux/dev_sr.txt
  sys/linux/filesystem.txt
  sys/linux/sys.txt
  sys/netbsd/fs.txt
  sys/netbsd/vnet.txt
  sys/netbsd/vusb.txt
  sys/openbsd/dev_pf.txt
  sys/openbsd/dev_speaker.txt
  sys/openbsd/wscons.txt
  sys/windows/sys.txt
Owners: @markjdb, @tuexen, @mvanotti, @krytarowski, @R3x, @blackgnezdo, @mptre

Makefile: enable clang-tidy in presubmit tests
  Makefile
  executor/common_linux.h
  executor/kvm_gen.cc
  pkg/csource/generated.go
  tools/docker/env/Dockerfile
Owners: none

executor: remove block comments
  executor/common.h
  executor/common_bsd.h
  executor/common_linux.h
  executor/common_usb_netbsd.h
  pkg/csource/common.go
  pkg/csource/csource_test.go
  pkg/csource/generated.go
Owners: @krytarowski, @R3x

pkg/compiler: check for unused resources
  pkg/compiler/check.go
  pkg/compiler/testdata/errors2.txt
  sys/freebsd/socket_inet_icmp.txt
  sys/fuchsia/events.txt
  sys/fuchsia/fuchsia_io.syz.txt
  sys/fuchsia/objects.txt
  sys/fuchsia/posix.txt
  sys/fuchsia/streams.txt
  sys/linux/bpf.txt
  sys/linux/dev_infiniband_rdma.txt
  sys/linux/dev_sr.txt
  sys/linux/filesystem.txt
  sys/linux/sys.txt
  sys/netbsd/fs.txt
  sys/netbsd/vnet.txt
  sys/netbsd/vusb.txt
  sys/openbsd/dev_pf.txt
  sys/openbsd/dev_speaker.txt
  sys/openbsd/wscons.txt
  sys/windows/sys.txt
Owners: @markjdb, @tuexen, @mvanotti, @krytarowski, @R3x, @blackgnezdo, @mptre

CONTRIBUTORS: add Stefano Duo
  CONTRIBUTORS
Owners: none

pkg/host/syscalls_linux.go: refactor isSupportedSyzkall()
  pkg/host/syscalls_linux.go
Owners: none

executor: remove block comments
  executor/common.h
  executor/common_bsd.h
  executor/common_linux.h
  executor/common_usb_netbsd.h
  pkg/csource/common.go
  pkg/csource/csource_test.go
  pkg/csource/generated.go
Owners: @krytarowski, @R3x

Makefile: enable clang-tidy in presubmit tests
  Makefile
  executor/common_linux.h
  executor/kvm_gen.cc
  pkg/csource/generated.go
  tools/docker/env/Dockerfile
Owners: none

dashboard/config: select KCSAN_VERBOSE in KCSAN config
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

dashboard/config: select KCSAN_VERBOSE in KCSAN config
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

tools/check-commits.sh: fix commit range detection
  .github/workflows/ci.yml
  tools/check-commits.sh
  tools/syz-env
Owners: none

CONTRIBUTORS: add Stefano Duo
  CONTRIBUTORS
Owners: none

pkg/host/syscalls_linux.go: refactor isSupportedSyzkall()
  pkg/host/syscalls_linux.go
Owners: none

tools/check-commits.sh: fix commit range detection
  .github/workflows/ci.yml
  tools/check-commits.sh
  tools/syz-env
Owners: none

sys/openbsd: neutralize clock_settime
  sys/openbsd/init.go
  sys/openbsd/init_test.go
Owners: @blackgnezdo, @mptre

sys/openbsd: neutralize clock_settime
  sys/openbsd/init.go
  sys/openbsd/init_test.go
Owners: @blackgnezdo, @mptre

dashboard/config: disable PARAVIRT_DEBUG with KCSAN
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

dashboard/config: disable PARAVIRT_DEBUG with KCSAN
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

Revert "dashboard/config: disable PARAVIRT_DEBUG with KCSAN"
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

Revert "dashboard/config: select KCSAN_VERBOSE in KCSAN config"
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

sys/linux: add HCI_COMMAND_PKT descriptions
  sys/linux/dev_vhci.txt
  sys/linux/dev_vhci_386.const
  sys/linux/dev_vhci_amd64.const
  sys/linux/dev_vhci_arm.const
  sys/linux/dev_vhci_arm64.const
  sys/linux/dev_vhci_mips64le.const
  sys/linux/dev_vhci_ppc64le.const
  sys/linux/dev_vhci_riscv64.const
  sys/linux/dev_vhci_s390x.const
  sys/linux/socket_bluetooth.txt
Owners: none

Revert "dashboard/config: select KCSAN_VERBOSE in KCSAN config"
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

Revert "dashboard/config: disable PARAVIRT_DEBUG with KCSAN"
  dashboard/config/bits-kcsan.config
  dashboard/config/upstream-kcsan.config
Owners: none

dashboard/app: store and retrieve Recipients data
  dashboard/app/api.go
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/app/main.go
  dashboard/app/reporting.go
Owners: none

tools/check-commits.sh: use PR head instead of base
  tools/check-commits.sh
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
