Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

executor/linux: dump mount information when failed to open kcov file
  executor/executor_linux.h
Owners: none

pkg/report: fix parsing of kernel-usb-infoleak
  pkg/report/linux.go
  pkg/report/testdata/linux/report/509
Owners: none

executor: enable extra coverage on OpenBSD
  executor/executor_bsd.h
  pkg/host/host_openbsd.go
Owners: @blackgnezdo, @mptre

pkg/report: fix parsing of kernel-usb-infoleak
  pkg/report/linux.go
  pkg/report/testdata/linux/report/509
Owners: none

executor: enable extra coverage on OpenBSD
  executor/executor_bsd.h
  pkg/host/host_openbsd.go
Owners: @blackgnezdo, @mptre

docs/freebsd: update the "missing things" list
  docs/freebsd/README.md
Owners: @markjdb, @tuexen

docs/freebsd: clarify that the dataset name is an example
  docs/freebsd/README.md
Owners: @markjdb, @tuexen

sys/targets: override DataOffset for 32-bit test targets on FreeBSD
  sys/targets/targets.go
Owners: none

pkg/runtest: re-enable 32-bit test target tests on FreeBSD
  pkg/runtest/run_test.go
Owners: none

dashboard/app: store and retrieve Recipients data
  dashboard/app/api.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/entities.go
  dashboard/app/jobs.go
  dashboard/app/main.go
  dashboard/app/reporting.go
  dashboard/app/reporting_test.go
Owners: none

executor: initialize vhci early
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

executor: initialize vhci early
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

pkg/runtest: re-enable 32-bit test target tests on FreeBSD
  pkg/runtest/run_test.go
Owners: none

sys/targets: override DataOffset for 32-bit test targets on FreeBSD
  sys/targets/targets.go
Owners: none

executor/linux: dump mount information when failed to open kcov file
  executor/executor_linux.h
Owners: none

pkg, prog: add per-field direction attribute
  docs/syscall_descriptions.md
  docs/syscall_descriptions_syntax.md
  pkg/ast/ast.go
  pkg/ast/clone.go
  pkg/ast/format.go
  pkg/ast/parser.go
  pkg/ast/testdata/errors.txt
  pkg/ast/walk.go
  pkg/compiler/attrs.go
  pkg/compiler/check.go
  pkg/compiler/gen.go
  pkg/compiler/testdata/all.txt
  pkg/compiler/testdata/errors.txt
  pkg/compiler/testdata/errors2.txt
  prog/encoding.go
  prog/rand.go
  prog/types.go
  prog/validation.go
  sys/test/test.txt
  tools/syz-trace2syz/proggen/proggen.go
Owners: none

dashboard/config: enable BPF LSM configs
  dashboard/config/upstream-kasan.config
Owners: none

Makefile: try to install clang-tidy package explicitly
  Makefile
Owners: none

sys/linux: use per-field directions in descriptions
  sys/linux/bpf.txt
  sys/linux/dev_dri.txt
  sys/linux/dev_infiniband_rdma.txt
  sys/linux/dev_ion.txt
  sys/linux/dev_kvm.txt
  sys/linux/dev_usbmon_ppc64le.const
  sys/linux/dev_video4linux.txt
  sys/linux/fs_ioctl_fscrypt.txt
  sys/linux/io_uring.txt
Owners: none

Makefile: try to install clang-tidy package explicitly
  Makefile
Owners: none

sys/linux: use per-field directions in descriptions
  sys/linux/bpf.txt
  sys/linux/dev_dri.txt
  sys/linux/dev_infiniband_rdma.txt
  sys/linux/dev_ion.txt
  sys/linux/dev_kvm.txt
  sys/linux/dev_usbmon_ppc64le.const
  sys/linux/dev_video4linux.txt
  sys/linux/fs_ioctl_fscrypt.txt
  sys/linux/io_uring.txt
Owners: none

pkg, prog: add per-field direction attribute
  docs/syscall_descriptions.md
  docs/syscall_descriptions_syntax.md
  pkg/ast/ast.go
  pkg/ast/clone.go
  pkg/ast/format.go
  pkg/ast/parser.go
  pkg/ast/testdata/errors.txt
  pkg/ast/walk.go
  pkg/compiler/attrs.go
  pkg/compiler/check.go
  pkg/compiler/gen.go
  pkg/compiler/testdata/all.txt
  pkg/compiler/testdata/errors.txt
  pkg/compiler/testdata/errors2.txt
  prog/encoding.go
  prog/rand.go
  prog/types.go
  prog/validation.go
  sys/test/test.txt
  tools/syz-trace2syz/proggen/proggen.go
Owners: none

executor: fix style checking test
  executor/common_linux.h
  executor/executor_bsd.h
  executor/style_test.go
Owners: none

executor/linux: dump more information when failed to open kcov file
  executor/executor_linux.h
Owners: none

executor: fix style checking test
  executor/common_linux.h
  executor/executor_bsd.h
  executor/style_test.go
Owners: none

pkg/compiler: merge const files into a single file
  pkg/compiler/compiler_test.go
  pkg/compiler/const_file.go
  pkg/compiler/const_file_test.go
  pkg/compiler/consts.go
  sys/syz-extract/extract.go
  sys/syz-sysgen/sysgen.go
  sys/test/test.txt.const
  sys/test/test_32_fork_shmem.const
  sys/test/test_32_shmem.const
  sys/test/test_64.const
  sys/test/test_64_fork.const
  tools/syz-check/check.go
Owners: none

executor/linux: dump more information when failed to open kcov file
  executor/executor_linux.h
Owners: none

pkg/compiler: merge const files into a single file
  pkg/compiler/compiler_test.go
  pkg/compiler/const_file.go
  pkg/compiler/const_file_test.go
  pkg/compiler/consts.go
  sys/syz-extract/extract.go
  sys/syz-sysgen/sysgen.go
  sys/test/test.txt.const
  sys/test/test_32_fork_shmem.const
  sys/test/test_32_shmem.const
  sys/test/test_64.const
  sys/test/test_64_fork.const
  tools/syz-check/check.go
Owners: none

executor/linux: unshare mount namespace
  executor/executor_linux.h
Owners: none

executor/linux: tolerate EPERM upon unshare mount namespace
  executor/executor_linux.h
Owners: none

executor: warn about C89-style var declarations
  executor/common.h
  executor/common_bsd.h
  executor/common_fuchsia.h
  executor/common_kvm_amd64.h
  executor/common_kvm_arm64.h
  executor/common_linux.h
  executor/common_usb.h
  executor/common_usb_linux.h
  executor/common_usb_netbsd.h
  executor/executor.cc
  executor/executor_bsd.h
  executor/style_test.go
  executor/test.h
  pkg/csource/generated.go
Owners: @mvanotti, @krytarowski, @R3x

executor: warn about C89-style var declarations
  executor/common.h
  executor/common_bsd.h
  executor/common_fuchsia.h
  executor/common_kvm_amd64.h
  executor/common_kvm_arm64.h
  executor/common_linux.h
  executor/common_usb.h
  executor/common_usb_linux.h
  executor/common_usb_netbsd.h
  executor/executor.cc
  executor/executor_bsd.h
  executor/style_test.go
  executor/test.h
  pkg/csource/generated.go
Owners: @mvanotti, @krytarowski, @R3x

executor: fix use of SYZ_SANDBOX_ANDROID define
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

prog: fix UnionType mutation for when per-field dir is specified
  prog/mutation.go
  sys/test/test.txt
Owners: none

prog: fix UnionType mutation for when per-field dir is specified
  prog/mutation.go
  sys/test/test.txt
Owners: none

sys/linux/fs_fuse.txt: use expected flags for fuse_attr.mode
  sys/linux/fs_fuse.txt
Owners: none

sys/linux/fs_fuse.txt: define FUSE request id as a resource
  sys/linux/dev_usbmon.txt.const
  sys/linux/fs_fuse.txt
  sys/linux/fs_fuse.txt.const
  sys/linux/test/fuse_deadlock
Owners: none

sys/openbsd: neutralize sysctl kern.maxthread
  sys/openbsd/init.go
  sys/openbsd/init_test.go
Owners: @blackgnezdo, @mptre

pkg/bisect: towards fixing bisection noOp handling and testing inconsistency, eliminating spare actions
  Makefile
  pkg/bisect/bisect.go
  pkg/bisect/bisect_test.go
Owners: none

pkg/bisect: cleanup commenting and DB functionality, make Linter happy
  pkg/bisect/bisect.go
  pkg/bisect/bisect_test.go
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
