Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

prog: move image extraction from sys/linux
  prog/analysis.go
  prog/images_test.go
  prog/target.go
  prog/testdata/fs_images/0.in
  prog/testdata/fs_images/0.out_mount_0
  prog/testdata/fs_images/1.in
  prog/testdata/fs_images/1.out_mount_0
  sys/linux/init.go
  sys/linux/init_images.go
  sys/linux/init_images_test.go
  syz-manager/manager.go
Owners: none

pkg/image: make Decompress easier to use
  pkg/image/compression.go
  pkg/image/compression_test.go
  prog/analysis.go
  prog/encoding.go
  prog/mutation.go
Owners: none

pkg/image: treat empty compressed image as valid image
  executor/common_zlib.h
  pkg/csource/generated.go
  pkg/image/compression.go
  pkg/image/compression_nonoptimized.go
  pkg/image/compression_optimized.go
  prog/hints.go
  prog/mutation.go
Owners: none

prog: mutate compressed images with hints
  prog/hints.go
  prog/hints_test.go
Owners: none

dashboard: collect bug fixing statistics
  dashboard/app/main.go
  dashboard/app/stats.go
  dashboard/app/stats_test.go
Owners: none

dashboard: collect bug fixing statistics
  dashboard/app/main.go
  dashboard/app/stats.go
  dashboard/app/stats_test.go
Owners: none

executor: fix build by including <sys/mman.h>
  executor/executor.cc
Owners: none

pkg/subsystem: add the fat maintainer
  pkg/subsystem/maintainers.go
Owners: none

pkg/subsystem: add the fat maintainer (#3601)
  pkg/subsystem/maintainers.go
Owners: none

dashboard/app/graphs.go: return 400 in bad input
  dashboard/app/graphs.go
Owners: none

dashboard/app/graphs.go: test graph/fuzzing?Metrics
  dashboard/app/graphs_test.go
  dashboard/app/util_test.go
Owners: none

dashboard/app/graphs.go: 4xx on bad metric value, not panic (#3602)
  dashboard/app/graphs.go
  dashboard/app/graphs_test.go
  dashboard/app/util_test.go
Owners: none

dashboard: factor out asset list extraction code
  dashboard/app/asset_storage.go
  dashboard/app/reporting.go
Owners: none

dashboard: display assets in the crash table
  dashboard/app/main.go
  dashboard/app/templates.html
  pkg/html/pages/style.css
Owners: none

dashboard: display strace log links
  dashboard/app/main.go
  dashboard/app/templates.html
Owners: none

dashboard: factor out asset list extraction code
  dashboard/app/asset_storage.go
  dashboard/app/reporting.go
Owners: none

dashboard: display assets in the crash table
  dashboard/app/main.go
  dashboard/app/templates.html
  pkg/html/pages/style.css
Owners: none

dashboard: display strace log links
  dashboard/app/main.go
  dashboard/app/templates.html
Owners: none

vm/qemu: initial freebsd/riscv64 support
  vm/qemu/qemu.go
Owners: none

pkg/compiler: remove some leftovers
  pkg/compiler/const_file.go
Owners: none

go.mod: fix conflict for freebsd/riscv64 support
  go.mod
Owners: none

sys/freebsd: regenerate riscv64 definitions
  sys/freebsd/dev_bpf.txt.const
  sys/freebsd/dev_crypto.txt.const
  sys/freebsd/dev_md.txt.const
  sys/freebsd/dev_smbus.txt.const
  sys/freebsd/efidev.txt.const
  sys/freebsd/evdev.txt.const
  sys/freebsd/ktimer.txt.const
  sys/freebsd/pf.txt.const
  sys/freebsd/posix_mm.txt.const
Owners: @markjdb, @tuexen

go.mod: update sys for freebsd/riscv64 support
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_riscv64.go
Owners: @dvyukov

all: add freebsd/riscv64 support
  Makefile
  pkg/compiler/const_file.go
  sys/freebsd/aio.txt.const
  sys/freebsd/amd64.txt.const
  sys/freebsd/capsicum.txt.const
  sys/freebsd/cpuset.txt.const
  sys/freebsd/dev_bpf.txt.const
  sys/freebsd/dev_crypto.txt.const
  sys/freebsd/dev_kbd.txt.const
  sys/freebsd/dev_md.txt.const
  sys/freebsd/dev_smbus.txt.const
  sys/freebsd/efidev.txt.const
  sys/freebsd/evdev.txt.const
  sys/freebsd/extattr.txt.const
  sys/freebsd/fh.txt.const
  sys/freebsd/filemon.txt.const
  sys/freebsd/ipc.txt.const
  sys/freebsd/kmq.txt.const
  sys/freebsd/kqueue.txt.const
  sys/freebsd/ksem.txt.const
  sys/freebsd/ktimer.txt.const
  sys/freebsd/ktrace.txt.const
  sys/freebsd/pf.txt.const
  sys/freebsd/posix_fs.txt.const
  sys/freebsd/posix_mm.txt.const
  sys/freebsd/procctl.txt.const
  sys/freebsd/socket.txt.const
  sys/freebsd/socket_inet.txt.const
  sys/freebsd/socket_inet6.txt.const
  sys/freebsd/socket_inet_icmp.txt.const
  sys/freebsd/socket_inet_sctp.txt.const
  sys/freebsd/socket_inet_tcp.txt.const
  sys/freebsd/socket_inet_udp.txt.const
  sys/freebsd/socket_inet_udplite.txt.const
  sys/freebsd/socket_unix.txt.const
  sys/freebsd/sys.txt.const
  sys/freebsd/vnet.txt.const
  sys/targets/targets.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_riscv64.go
Owners: @markjdb, @tuexen, @dvyukov

sys/syz-extract: fix const generation on freebsd/riscv64
  sys/syz-extract/freebsd.go
Owners: @markjdb, @tuexen

all: add freebsd/riscv64 support
  Makefile
  pkg/compiler/const_file.go
  sys/freebsd/aio.txt.const
  sys/freebsd/amd64.txt.const
  sys/freebsd/capsicum.txt.const
  sys/freebsd/cpuset.txt.const
  sys/freebsd/dev_bpf.txt.const
  sys/freebsd/dev_crypto.txt.const
  sys/freebsd/dev_kbd.txt.const
  sys/freebsd/dev_md.txt.const
  sys/freebsd/dev_smbus.txt.const
  sys/freebsd/efidev.txt.const
  sys/freebsd/evdev.txt.const
  sys/freebsd/extattr.txt.const
  sys/freebsd/fh.txt.const
  sys/freebsd/filemon.txt.const
  sys/freebsd/ipc.txt.const
  sys/freebsd/kmq.txt.const
  sys/freebsd/kqueue.txt.const
  sys/freebsd/ksem.txt.const
  sys/freebsd/ktimer.txt.const
  sys/freebsd/ktrace.txt.const
  sys/freebsd/pf.txt.const
  sys/freebsd/posix_fs.txt.const
  sys/freebsd/posix_mm.txt.const
  sys/freebsd/procctl.txt.const
  sys/freebsd/socket.txt.const
  sys/freebsd/socket_inet.txt.const
  sys/freebsd/socket_inet6.txt.const
  sys/freebsd/socket_inet_icmp.txt.const
  sys/freebsd/socket_inet_sctp.txt.const
  sys/freebsd/socket_inet_tcp.txt.const
  sys/freebsd/socket_inet_udp.txt.const
  sys/freebsd/socket_inet_udplite.txt.const
  sys/freebsd/socket_unix.txt.const
  sys/freebsd/sys.txt.const
  sys/freebsd/vnet.txt.const
  sys/targets/targets.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_riscv64.go
Owners: @markjdb, @tuexen, @dvyukov

pkg/compiler: remove some leftovers
  pkg/compiler/const_file.go
Owners: none

go.mod: fix conflict for freebsd/riscv64 support
  go.mod
Owners: none

vm/qemu: initial freebsd/riscv64 support
  vm/qemu/qemu.go
Owners: none

sys/freebsd: regenerate riscv64 definitions
  sys/freebsd/dev_bpf.txt.const
  sys/freebsd/dev_crypto.txt.const
  sys/freebsd/dev_md.txt.const
  sys/freebsd/dev_smbus.txt.const
  sys/freebsd/efidev.txt.const
  sys/freebsd/evdev.txt.const
  sys/freebsd/ktimer.txt.const
  sys/freebsd/pf.txt.const
  sys/freebsd/posix_mm.txt.const
Owners: @markjdb, @tuexen

sys/syz-extract: fix const generation on freebsd/riscv64
  sys/syz-extract/freebsd.go
Owners: @markjdb, @tuexen

go.mod: update sys for freebsd/riscv64 support
  vendor/golang.org/x/sys/unix/syscall_solaris.go
  vendor/golang.org/x/sys/unix/ztypes_freebsd_riscv64.go
Owners: @dvyukov

executor: better prevent the panic on ext4 errors
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

executor: better prevent the panic on ext4 errors (#3604)
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

syz-ci/jobs: use linker supplied in syz-ci config
  pkg/bisect/bisect.go
  pkg/bisect/bisect_test.go
  pkg/instance/instance.go
  syz-ci/jobs.go
  tools/syz-testbuild/testbuild.go
Owners: none

pkg/instance: move BuildKernel() args to struct
  pkg/bisect/bisect.go
  pkg/bisect/bisect_test.go
  pkg/instance/instance.go
  syz-ci/jobs.go
  tools/syz-testbuild/testbuild.go
Owners: none

pkg/instance: move BuildKernel() args to struct
  pkg/bisect/bisect.go
  pkg/bisect/bisect_test.go
  pkg/instance/instance.go
  syz-ci/jobs.go
  tools/syz-testbuild/testbuild.go
Owners: none

syz-ci/jobs: use linker supplied in syz-ci config
  pkg/bisect/bisect.go
  pkg/bisect/bisect_test.go
  pkg/instance/instance.go
  syz-ci/jobs.go
  tools/syz-testbuild/testbuild.go
Owners: none

dashboard: support the only_manager filter
  dashboard/app/main.go
  dashboard/app/main_test.go
Owners: none

dashboard: support the only_manager filter
  dashboard/app/main.go
  dashboard/app/main_test.go
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov
