Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

vendor: add google.golang.org/appengine/memcache
  vendor/google.golang.org/appengine/internal/memcache/memcache_service.pb.go
  vendor/google.golang.org/appengine/internal/memcache/memcache_service.proto
  vendor/google.golang.org/appengine/memcache/memcache.go
  vendor/modules.txt
Owners: @dvyukov

dashboard/app: cache per-namespace bug stats
  dashboard/app/cache.go
  dashboard/app/handler.go
  dashboard/app/main.go
  dashboard/app/reporting.go
  dashboard/app/templates.html
Owners: none

dashboard/app: add memcache to admin interface
  dashboard/app/admin.html
  dashboard/app/main.go
Owners: none

vendor: add google.golang.org/appengine/memcache
  vendor/google.golang.org/appengine/internal/memcache/memcache_service.pb.go
  vendor/google.golang.org/appengine/internal/memcache/memcache_service.proto
  vendor/google.golang.org/appengine/memcache/memcache.go
  vendor/modules.txt
Owners: @dvyukov

dashboard/app: add navigation buttons
  dashboard/app/handler.go
  dashboard/app/main.go
  dashboard/app/main.html
  dashboard/app/static/style.css
  dashboard/app/templates.html
  pkg/html/generated.go
Owners: none

dashboard/app: add navigation buttons
  dashboard/app/handler.go
  dashboard/app/main.go
  dashboard/app/main.html
  dashboard/app/static/style.css
  dashboard/app/templates.html
  pkg/html/generated.go
Owners: none

syz-ci: rebuild syzkaller if latest build does not exist
  syz-ci/updater.go
Owners: none

syz-ci: rebuild syzkaller if latest build does not exist
  syz-ci/updater.go
Owners: none

pkg/html: add function to format JS time
  pkg/html/html.go
Owners: none

vendor: add google.golang.org/appengine/memcache
  vendor/google.golang.org/appengine/internal/memcache/memcache_service.pb.go
  vendor/google.golang.org/appengine/internal/memcache/memcache_service.proto
  vendor/google.golang.org/appengine/memcache/memcache.go
  vendor/modules.txt
Owners: @dvyukov

dashboard/app: cache per-namespace bug stats
  dashboard/app/cache.go
  dashboard/app/handler.go
  dashboard/app/main.go
  dashboard/app/reporting.go
  dashboard/app/templates.html
Owners: none

dashboard/app: add memcache to admin interface
  dashboard/app/admin.html
  dashboard/app/main.go
Owners: none

pkg/html: add function to format JS time
  pkg/html/html.go
Owners: none

dashboard/app: cache per-namespace bug stats
  dashboard/app/cache.go
  dashboard/app/handler.go
  dashboard/app/main.go
  dashboard/app/reporting.go
  dashboard/app/templates.html
Owners: none

sys/linux: add descriptions for IP tunnels
  sys/linux/socket_ip_tunnel.txt
  sys/linux/socket_ip_tunnel_386.const
  sys/linux/socket_ip_tunnel_amd64.const
  sys/linux/socket_ip_tunnel_arm.const
  sys/linux/socket_ip_tunnel_arm64.const
  sys/linux/socket_ip_tunnel_mips64le.const
  sys/linux/socket_ip_tunnel_ppc64le.const
  sys/linux/socket_ip_tunnel_riscv64.const
  sys/linux/socket_ip_tunnel_s390x.const
Owners: none

CONTRIBUTORS: add Cheng-Min Chiang
  CONTRIBUTORS
Owners: none

sys/linux: add SECCOMP_IOCTL_NOTIF_ADDFD
  sys/linux/seccomp.txt
  sys/linux/seccomp_386.const
  sys/linux/seccomp_amd64.const
  sys/linux/seccomp_arm.const
  sys/linux/seccomp_arm64.const
  sys/linux/seccomp_mips64le.const
  sys/linux/seccomp_ppc64le.const
  sys/linux/seccomp_riscv64.const
  sys/linux/seccomp_s390x.const
Owners: none

sys/linux: add SECCOMP_IOCTL_NOTIF_ADDFD
  sys/linux/seccomp.txt
  sys/linux/seccomp_386.const
  sys/linux/seccomp_amd64.const
  sys/linux/seccomp_arm.const
  sys/linux/seccomp_arm64.const
  sys/linux/seccomp_mips64le.const
  sys/linux/seccomp_ppc64le.const
  sys/linux/seccomp_riscv64.const
  sys/linux/seccomp_s390x.const
Owners: none

executor: fix bitfields for big-endian arch
  executor/executor.cc
  executor/test.h
  pkg/csource/csource.go
  sys/test/test/bf2_be
  sys/test/test/bf_be
Owners: none

executor: fix bitfields for big-endian arch
  executor/executor.cc
  executor/test.h
  pkg/csource/csource.go
  sys/test/test/bf2_be
  sys/test/test/bf_be
Owners: none

executor: fix bitfields for big-endian arch
  executor/executor.cc
  executor/test.h
  pkg/csource/csource.go
  sys/test/test/bf2_be
  sys/test/test/bf_be
Owners: none

tools/syz-linter: enable some standard linters
  syz-ci/jobs_test.go
  tools/syz-linter/linter.go
  tools/syz-reporter/reporter.go
Owners: none

tools/syz-linter: enable some standard linters
  syz-ci/jobs_test.go
  tools/syz-linter/linter.go
  tools/syz-reporter/reporter.go
Owners: none

tools/syz-linter: enable some standard linters
  syz-ci/jobs_test.go
  tools/syz-linter/linter.go
  tools/syz-reporter/reporter.go
Owners: none

tools/syz-linter: fix comments check
  pkg/osutil/osutil_linux.go
  pkg/report/fuchsia.go
  prog/hints_test.go
  prog/mutation_test.go
  tools/syz-check/dwarf.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: @mvanotti

tools/syz-linter: fix comments check
  pkg/osutil/osutil_linux.go
  pkg/report/fuchsia.go
  prog/hints_test.go
  prog/mutation_test.go
  tools/syz-check/dwarf.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: @mvanotti

tools/syz-linter: fix comments check
  pkg/osutil/osutil_linux.go
  pkg/report/fuchsia.go
  prog/hints_test.go
  prog/mutation_test.go
  tools/syz-check/dwarf.go
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: @mvanotti

CONTRIBUTORS: add Cheng-Min Chiang
  CONTRIBUTORS
Owners: none

sys/linux: add descriptions for IP tunnels
  sys/linux/socket_ip_tunnel.txt
  sys/linux/socket_ip_tunnel_386.const
  sys/linux/socket_ip_tunnel_amd64.const
  sys/linux/socket_ip_tunnel_arm.const
  sys/linux/socket_ip_tunnel_arm64.const
  sys/linux/socket_ip_tunnel_mips64le.const
  sys/linux/socket_ip_tunnel_ppc64le.const
  sys/linux/socket_ip_tunnel_riscv64.const
  sys/linux/socket_ip_tunnel_s390x.const
Owners: none

sys/linux: add descriptions for IP tunnels
  sys/linux/socket_ip_tunnel.txt
  sys/linux/socket_ip_tunnel_386.const
  sys/linux/socket_ip_tunnel_amd64.const
  sys/linux/socket_ip_tunnel_arm.const
  sys/linux/socket_ip_tunnel_arm64.const
  sys/linux/socket_ip_tunnel_mips64le.const
  sys/linux/socket_ip_tunnel_ppc64le.const
  sys/linux/socket_ip_tunnel_riscv64.const
  sys/linux/socket_ip_tunnel_s390x.const
Owners: none

CONTRIBUTORS: add Cheng-Min Chiang
  CONTRIBUTORS
Owners: none

pkg/build: load the SCTP and IPSec stacks on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: always truncate loader.conf on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: always truncate loader.conf on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: load the SCTP and IPSec stacks on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: always truncate loader.conf on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

pkg/build: load the SCTP and IPSec stacks on FreeBSD
  pkg/build/freebsd.go
Owners: @markjdb, @tuexen

all: fix comments format
  dashboard/app/access.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/jobs.go
  dashboard/app/jobs_test.go
  pkg/build/netbsd.go
  pkg/compiler/types.go
  pkg/csource/csource.go
  pkg/host/syscalls_linux.go
  pkg/host/syscalls_linux_test.go
  pkg/ifuzz/gen/gen.go
  pkg/ifuzz/ifuzz.go
  pkg/ifuzz/pseudo.go
  pkg/ipc/ipc.go
  pkg/report/fuchsia.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/vcs/fuchsia.go
  pkg/vcs/linux_test.go
  prog/analysis.go
  prog/hints.go
  prog/minimization.go
  prog/mutation_test.go
  prog/prog.go
  prog/resources.go
  prog/types.go
  sys/akaros/init.go
  sys/linux/init.go
  sys/targets/targets.go
  syz-ci/managercmd.go
  syz-ci/syz-ci.go
  vm/adb/adb.go
  vm/bhyve/bhyve.go
  vm/isolated/isolated.go
  vm/vm_test.go
  vm/vmimpl/console.go
  vm/vmimpl/freebsd.go
  vm/vmimpl/openbsd.go
Owners: @krytarowski, @R3x, @mvanotti, @markjdb, @tuexen, @blackgnezdo, @mptre

tools/syz-linter: check comments format
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

pkg/vcs: don't sandbox syzkaller repo
  pkg/vcs/git.go
  pkg/vcs/vcs.go
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
