Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov

dashboard: include subsystem links in BugReport
  dashboard/app/reporting.go
  dashboard/app/reporting_test.go
  dashboard/dashapi/dashapi.go
Owners: none

vm/proxyapp: pass kernel image data to ProxyApp
  vm/proxyapp/proxyappclient.go
  vm/proxyapp/proxyrpc/proxyrpc.go
Owners: none

vm/proxyapp: pass kernel image data to ProxyApp (#3696)
  vm/proxyapp/proxyappclient.go
  vm/proxyapp/proxyrpc/proxyrpc.go
Owners: none

pkg/report: improve Go throw/panic parsing
  pkg/report/gvisor.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/report/testdata/all/report/6
  pkg/report/testdata/all/report/7
Owners: @avagin

pkg/report: improve Go throw/panic parsing
  pkg/report/gvisor.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/report/testdata/all/report/6
  pkg/report/testdata/all/report/7
Owners: @avagin

pkg/subsystem: query child subsystems
  pkg/subsystem/service.go
  pkg/subsystem/service_test.go
Owners: none

dashboard: display child subsystems on the subsystem page
  dashboard/app/main.go
  dashboard/app/subsystem_page.html
Owners: none

dashboard: display child subsystems on the subsystem page
  dashboard/app/main.go
  dashboard/app/subsystem_page.html
Owners: none

pkg/subsystem: query child subsystems
  pkg/subsystem/service.go
  pkg/subsystem/service_test.go
Owners: none

pkg/report: ignore ALSA fatal errors
  pkg/report/gvisor.go
  pkg/report/report.go
  pkg/report/testdata/all/report/8
Owners: @avagin

pkg/report: ignore ALSA fatal errors
  pkg/report/gvisor.go
  pkg/report/report.go
  pkg/report/testdata/all/report/8
Owners: @avagin

dashboard: hide empty subsystems from list
  dashboard/app/main.go
  dashboard/app/main_test.go
  dashboard/app/subsystems.html
Owners: none

dashboard: filter by no subsystems
  dashboard/app/cache.go
  dashboard/app/main.go
  dashboard/app/main_test.go
  dashboard/app/subsystems.html
  dashboard/app/templates.html
Owners: none

dashboard: filter by no subsystems
  dashboard/app/cache.go
  dashboard/app/main.go
  dashboard/app/main_test.go
  dashboard/app/subsystems.html
  dashboard/app/templates.html
Owners: none

dashboard: hide empty subsystems from list
  dashboard/app/main.go
  dashboard/app/main_test.go
  dashboard/app/subsystems.html
Owners: none

dashboard: cosmetic changes to the subsystems list
  dashboard/app/main.go
  dashboard/app/subsystems.html
Owners: none

dashboard: cosmetic changes to the subsystems list
  dashboard/app/main.go
  dashboard/app/subsystems.html
Owners: none

pkg/gce/gcp_secret.go: change deprecated api
  pkg/gce/gcp_secret.go
Owners: none

vendor: update dependencies
  go.mod
  go.sum
  vendor/cloud.google.com/go/iam/iam.go
  vendor/cloud.google.com/go/logging/apiv2/config_client.go
  vendor/cloud.google.com/go/logging/apiv2/logging_client.go
  vendor/cloud.google.com/go/logging/apiv2/metrics_client.go
  vendor/cloud.google.com/go/logging/instrumentation.go
  vendor/cloud.google.com/go/logging/logadmin/logadmin.go
  vendor/cloud.google.com/go/logging/logadmin/metrics.go
  vendor/cloud.google.com/go/logging/logadmin/resources.go
  vendor/cloud.google.com/go/logging/logadmin/sinks.go
  vendor/cloud.google.com/go/logging/logging.go
  vendor/cloud.google.com/go/longrunning/autogen/operations_client.go
  vendor/cloud.google.com/go/longrunning/longrunning.go
  vendor/cloud.google.com/go/pubsub/apiv1/iam.go
  vendor/cloud.google.com/go/pubsub/apiv1/publisher_client.go
  vendor/cloud.google.com/go/pubsub/apiv1/subscriber_client.go
  vendor/cloud.google.com/go/pubsub/iterator.go
  vendor/cloud.google.com/go/pubsub/message.go
  vendor/cloud.google.com/go/pubsub/pullstream.go
  vendor/cloud.google.com/go/pubsub/service.go
  vendor/cloud.google.com/go/pubsub/snapshot.go
  vendor/cloud.google.com/go/pubsub/subscription.go
  vendor/cloud.google.com/go/pubsub/topic.go
  vendor/cloud.google.com/go/secretmanager/apiv1/secret_manager_client.go
  vendor/cloud.google.com/go/storage/client.go
  vendor/cloud.google.com/go/storage/grpc_client.go
  vendor/cloud.google.com/go/storage/http_client.go
  vendor/cloud.google.com/go/storage/iam.go
  vendor/cloud.google.com/go/storage/internal/apiv2/storage_client.go
  vendor/cloud.google.com/go/storage/internal/apiv2/stubs/storage.pb.go
  vendor/google.golang.org/genproto/googleapis/cloud/audit/bigquery_audit_metadata.pb.go
  vendor/google.golang.org/genproto/googleapis/cloud/secretmanager/v1/service.pb.go
  vendor/google.golang.org/genproto/googleapis/logging/v2/logging_config.pb.go
Owners: @dvyukov

pkg/html/html.go: remove unnecessary conversion
  pkg/html/html.go
Owners: none

pkg/subsystem/linux: add more pseudo syscalls
  pkg/subsystem/linux/rules.go
Owners: none

pkg/subsystem: regenerate Linux subsystems
  pkg/subsystem/lists/linux.go
Owners: none

pkg/subsystem/linux: add more fs subsystems
  pkg/subsystem/linux/rules.go
Owners: none

pkg/subsystem/linux: support custom subsystem grouping
  pkg/subsystem/linux/names.go
  pkg/subsystem/linux/names_test.go
  pkg/subsystem/linux/rules.go
  pkg/subsystem/linux/subsystems.go
  pkg/subsystem/linux/subsystems_test.go
Owners: none

pkg/subsystem/linux: add more pseudo syscalls
  pkg/subsystem/linux/rules.go
Owners: none

pkg/subsystem/linux: support custom subsystem grouping
  pkg/subsystem/linux/names.go
  pkg/subsystem/linux/names_test.go
  pkg/subsystem/linux/rules.go
  pkg/subsystem/linux/subsystems.go
  pkg/subsystem/linux/subsystems_test.go
Owners: none

pkg/subsystem/linux: add more fs subsystems
  pkg/subsystem/linux/rules.go
Owners: none

pkg/subsystem: regenerate Linux subsystems
  pkg/subsystem/lists/linux.go
Owners: none

dashboard: call /cron/refresh_subsystems every 5 minutes
  dashboard/app/cron.yaml
Owners: none

dashboard: call /cron/refresh_subsystems every 5 minutes
  dashboard/app/cron.yaml
Owners: none

pkg/subsystem/linux: rename v9fs -> 9p
  pkg/subsystem/linux/names.go
  pkg/subsystem/linux/names_test.go
Owners: none

pkg/subsystem/linux: add more custom rules
  pkg/subsystem/linux/rules.go
Owners: none

tools/syz-query-subsystems: restructure generation
  tools/syz-query-subsystems/generator.go
Owners: none

pkg/subsystem: regenerate subsystem list for upstream Linux
  pkg/subsystem/lists/linux.go
Owners: none

tools/syz-query-subsystems: add filtering functionality
  pkg/subsystem/entities.go
  pkg/subsystem/entities_test.go
  tools/syz-query-subsystems/query_subsystems.go
Owners: none

tools/syz-query-subsystems: add filtering functionality
  pkg/subsystem/entities.go
  pkg/subsystem/entities_test.go
  tools/syz-query-subsystems/query_subsystems.go
Owners: none

pkg/subsystem/linux: add more custom rules
  pkg/subsystem/linux/rules.go
Owners: none

tools/syz-query-subsystems: restructure generation
  tools/syz-query-subsystems/generator.go
Owners: none

pkg/subsystem/linux: rename v9fs -> 9p
  pkg/subsystem/linux/names.go
  pkg/subsystem/linux/names_test.go
Owners: none

pkg/subsystem: regenerate subsystem list for upstream Linux
  pkg/subsystem/lists/linux.go
Owners: none
