Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre

syz-ci: set Timeout for bisections
  pkg/bisect/bisect.go
  syz-ci/jobs.go
Owners: none

syz-ci: set Timeout for bisections
  pkg/bisect/bisect.go
  syz-ci/jobs.go
Owners: none

pkg/vcs: don't sandbox syzkaller repo
  pkg/vcs/git.go
  pkg/vcs/vcs.go
Owners: none

syz-ci: set Timeout for bisections
  pkg/bisect/bisect.go
  syz-ci/jobs.go
Owners: none

pkg/vcs: don't sandbox syzkaller repo
  pkg/vcs/git.go
  pkg/vcs/vcs.go
Owners: none

tools/syz-linter: check comments format
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

tools/syz-linter: check comments format
  tools/syz-linter/linter.go
  tools/syz-linter/testdata/src/lintertest/lintertest.go
Owners: none

all: fix comments format
  dashboard/app/access.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/jobs.go
  dashboard/app/jobs_test.go
  pkg/build/netbsd.go
  pkg/compiler/types.go
  pkg/csource/csource.go
  pkg/host/syscalls_linux.go
  pkg/host/syscalls_linux_test.go
  pkg/ifuzz/gen/gen.go
  pkg/ifuzz/ifuzz.go
  pkg/ifuzz/pseudo.go
  pkg/ipc/ipc.go
  pkg/report/fuchsia.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/vcs/fuchsia.go
  pkg/vcs/linux_test.go
  prog/analysis.go
  prog/hints.go
  prog/minimization.go
  prog/mutation_test.go
  prog/prog.go
  prog/resources.go
  prog/types.go
  sys/akaros/init.go
  sys/linux/init.go
  sys/targets/targets.go
  syz-ci/managercmd.go
  syz-ci/syz-ci.go
  vm/adb/adb.go
  vm/bhyve/bhyve.go
  vm/isolated/isolated.go
  vm/vm_test.go
  vm/vmimpl/console.go
  vm/vmimpl/freebsd.go
  vm/vmimpl/openbsd.go
Owners: @krytarowski, @R3x, @mvanotti, @markjdb, @tuexen, @blackgnezdo, @mptre

all: fix comments format
  dashboard/app/access.go
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/jobs.go
  dashboard/app/jobs_test.go
  pkg/build/netbsd.go
  pkg/compiler/types.go
  pkg/csource/csource.go
  pkg/host/syscalls_linux.go
  pkg/host/syscalls_linux_test.go
  pkg/ifuzz/gen/gen.go
  pkg/ifuzz/ifuzz.go
  pkg/ifuzz/pseudo.go
  pkg/ipc/ipc.go
  pkg/report/fuchsia.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/vcs/fuchsia.go
  pkg/vcs/linux_test.go
  prog/analysis.go
  prog/hints.go
  prog/minimization.go
  prog/mutation_test.go
  prog/prog.go
  prog/resources.go
  prog/types.go
  sys/akaros/init.go
  sys/linux/init.go
  sys/targets/targets.go
  syz-ci/managercmd.go
  syz-ci/syz-ci.go
  vm/adb/adb.go
  vm/bhyve/bhyve.go
  vm/isolated/isolated.go
  vm/vm_test.go
  vm/vmimpl/console.go
  vm/vmimpl/freebsd.go
  vm/vmimpl/openbsd.go
Owners: @krytarowski, @R3x, @mvanotti, @markjdb, @tuexen, @blackgnezdo, @mptre

docs: add another research paper
  docs/research.md
Owners: none

dashboard/app: add page with manager stats graphs
  dashboard/app/config.go
  dashboard/app/entities.go
  dashboard/app/graph_bugs.html
  dashboard/app/graph_fuzzing.html
  dashboard/app/graph_lifetimes.html
  dashboard/app/graphs.go
  dashboard/app/graphs_test.go
  dashboard/app/main.go
  dashboard/app/static/style.css
  dashboard/app/templates.html
  docs/graphs.md
  pkg/html/generated.go
Owners: none

dashboard/config: update config to next-20200710
  dashboard/config/upstream-kasan.config
Owners: none

docs: add instructions on updating syz-env
  docs/contributing.md
Owners: none

sys/linux: fix make extract on latest linux-next
  sys/linux/socket_netlink_netfilter_nftables.txt
  sys/linux/socket_netlink_netfilter_nftables_386.const
  sys/linux/socket_netlink_netfilter_nftables_amd64.const
  sys/linux/socket_netlink_netfilter_nftables_arm.const
  sys/linux/socket_netlink_netfilter_nftables_arm64.const
  sys/linux/socket_netlink_netfilter_nftables_mips64le.const
  sys/linux/socket_netlink_netfilter_nftables_ppc64le.const
  sys/linux/socket_netlink_netfilter_nftables_riscv64.const
  sys/linux/socket_netlink_netfilter_nftables_s390x.const
Owners: none

sys/linux: fix make extract on latest linux-next
  sys/linux/socket_netlink_netfilter_nftables.txt
  sys/linux/socket_netlink_netfilter_nftables_386.const
  sys/linux/socket_netlink_netfilter_nftables_amd64.const
  sys/linux/socket_netlink_netfilter_nftables_arm.const
  sys/linux/socket_netlink_netfilter_nftables_arm64.const
  sys/linux/socket_netlink_netfilter_nftables_mips64le.const
  sys/linux/socket_netlink_netfilter_nftables_ppc64le.const
  sys/linux/socket_netlink_netfilter_nftables_riscv64.const
  sys/linux/socket_netlink_netfilter_nftables_s390x.const
Owners: none

sys/targets: don't use HostFuzzer mode for test OS
  pkg/host/features.go
  pkg/host/syscalls.go
  sys/targets/targets.go
Owners: none

executor: wrap all syscalls into NONFAILING
  executor/executor.cc
  pkg/csource/csource.go
  sys/test/test/nonfailing
Owners: none

pkg/runtest: allow to select a subset of tests to run
  pkg/runtest/run_test.go
Owners: none

executor: remove NONFAILING from pseudo-syscalls
  executor/common.h
  executor/common_bsd.h
  executor/common_kvm_amd64.h
  executor/common_kvm_arm64.h
  executor/common_linux.h
  executor/common_usb.h
  executor/common_usb_linux.h
  executor/common_usb_netbsd.h
  pkg/csource/generated.go
Owners: @krytarowski, @R3x

prog/types.go: add Type.Alignment() and TypeCommon.TypeAlign
  pkg/compiler/gen.go
  pkg/compiler/types.go
  prog/types.go
Owners: none

prog/alloc: align address allocation for aligned[addr]
  prog/alloc.go
  prog/alloc_test.go
  prog/encoding.go
  prog/rand.go
  prog/target.go
  tools/syz-trace2syz/proggen/proggen.go
Owners: none

executor: initialize vhci and provide syz_emit_vhci
  executor/common_linux.h
  go.mod
  pkg/csource/common.go
  pkg/csource/generated.go
  pkg/csource/options.go
  pkg/host/features.go
  pkg/host/features_linux.go
  pkg/host/syscalls_linux.go
  sys/linux/dev_vhci.txt
Owners: none

executor: initialize vhci and provide syz_emit_vhci
  executor/common_linux.h
  go.mod
  pkg/csource/common.go
  pkg/csource/generated.go
  pkg/csource/options.go
  pkg/host/features.go
  pkg/host/features_linux.go
  pkg/host/syscalls_linux.go
  sys/linux/dev_vhci.txt
Owners: none

go.mod: revert changes
  go.mod
Owners: none

go.mod: revert changes
  go.mod
Owners: none

prog/types.go: add Type.Alignment() and TypeCommon.TypeAlign
  pkg/compiler/gen.go
  pkg/compiler/types.go
  prog/types.go
Owners: none

prog/alloc: align address allocation for aligned[addr]
  prog/alloc.go
  prog/alloc_test.go
  prog/encoding.go
  prog/rand.go
  prog/target.go
  tools/syz-trace2syz/proggen/proggen.go
Owners: none

dashboard/app: say "issue" instead of "crash"
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/jobs_test.go
  dashboard/app/mail_bisect_result.txt
  dashboard/app/mail_bug.txt
  dashboard/app/mail_test_result.txt
Owners: none

Descriptions for /dev/snapshot
  sys/linux/dev_snapshot.txt
  sys/linux/dev_snapshot_386.const
  sys/linux/dev_snapshot_amd64.const
  sys/linux/dev_snapshot_arm.const
  sys/linux/dev_snapshot_arm64.const
  sys/linux/dev_snapshot_mips64le.const
  sys/linux/dev_snapshot_ppc64le.const
  sys/linux/dev_snapshot_riscv64.const
  sys/linux/dev_snapshot_s390x.const
  sys/linux/sys.txt
  sys/linux/sys_386.const
  sys/linux/sys_amd64.const
  sys/linux/sys_arm.const
  sys/linux/sys_arm64.const
  sys/linux/sys_mips64le.const
  sys/linux/sys_ppc64le.const
  sys/linux/sys_riscv64.const
  sys/linux/sys_s390x.const
Owners: none

changes after review
  sys/linux/dev_snapshot.txt
  sys/linux/sys.txt
Owners: none

sys/linux: /dev/snapshot descriptions (#1934)
  sys/linux/dev_snapshot.txt
  sys/linux/dev_snapshot_386.const
  sys/linux/dev_snapshot_amd64.const
  sys/linux/dev_snapshot_arm.const
  sys/linux/dev_snapshot_arm64.const
  sys/linux/dev_snapshot_mips64le.const
  sys/linux/dev_snapshot_ppc64le.const
  sys/linux/dev_snapshot_riscv64.const
  sys/linux/dev_snapshot_s390x.const
  sys/linux/sys.txt
  sys/linux/sys_386.const
  sys/linux/sys_amd64.const
  sys/linux/sys_arm.const
  sys/linux/sys_arm64.const
  sys/linux/sys_mips64le.const
  sys/linux/sys_ppc64le.const
  sys/linux/sys_riscv64.const
  sys/linux/sys_s390x.const
Owners: none

sys/linux: add ioctls for f2fs file system
  sys/linux/fs_ioctl_f2fs.txt
  sys/linux/fs_ioctl_f2fs_386.const
  sys/linux/fs_ioctl_f2fs_amd64.const
  sys/linux/fs_ioctl_f2fs_arm.const
  sys/linux/fs_ioctl_f2fs_arm64.const
  sys/linux/fs_ioctl_f2fs_mips64le.const
  sys/linux/fs_ioctl_f2fs_ppc64le.const
  sys/linux/fs_ioctl_f2fs_riscv64.const
  sys/linux/fs_ioctl_f2fs_s390x.const
Owners: none

dashboard/app: say "issue" instead of "crash"
  dashboard/app/bisect_test.go
  dashboard/app/email_test.go
  dashboard/app/jobs_test.go
  dashboard/app/mail_bisect_result.txt
  dashboard/app/mail_bug.txt
  dashboard/app/mail_test_result.txt
Owners: none

sys/linux: add ioctls for f2fs file system
  sys/linux/fs_ioctl_f2fs.txt
  sys/linux/fs_ioctl_f2fs_386.const
  sys/linux/fs_ioctl_f2fs_amd64.const
  sys/linux/fs_ioctl_f2fs_arm.const
  sys/linux/fs_ioctl_f2fs_arm64.const
  sys/linux/fs_ioctl_f2fs_mips64le.const
  sys/linux/fs_ioctl_f2fs_ppc64le.const
  sys/linux/fs_ioctl_f2fs_riscv64.const
  sys/linux/fs_ioctl_f2fs_s390x.const
Owners: none

sys/linux: add shutdown ioctl for f2fs
  sys/linux/fs_ioctl_f2fs.txt
  sys/linux/fs_ioctl_f2fs_386.const
  sys/linux/fs_ioctl_f2fs_amd64.const
  sys/linux/fs_ioctl_f2fs_arm.const
  sys/linux/fs_ioctl_f2fs_arm64.const
  sys/linux/fs_ioctl_f2fs_mips64le.const
  sys/linux/fs_ioctl_f2fs_ppc64le.const
  sys/linux/fs_ioctl_f2fs_riscv64.const
  sys/linux/fs_ioctl_f2fs_s390x.const
Owners: none

sys/linux: add shutdown ioctl for f2fs
  sys/linux/fs_ioctl_f2fs.txt
  sys/linux/fs_ioctl_f2fs_386.const
  sys/linux/fs_ioctl_f2fs_amd64.const
  sys/linux/fs_ioctl_f2fs_arm.const
  sys/linux/fs_ioctl_f2fs_arm64.const
  sys/linux/fs_ioctl_f2fs_mips64le.const
  sys/linux/fs_ioctl_f2fs_ppc64le.const
  sys/linux/fs_ioctl_f2fs_riscv64.const
  sys/linux/fs_ioctl_f2fs_s390x.const
Owners: none

executor: remove NONFAILING from pseudo-syscalls
  executor/common.h
  executor/common_bsd.h
  executor/common_kvm_amd64.h
  executor/common_kvm_arm64.h
  executor/common_linux.h
  executor/common_usb.h
  executor/common_usb_linux.h
  executor/common_usb_netbsd.h
  pkg/csource/generated.go
Owners: @krytarowski, @R3x

pkg/runtest: allow to select a subset of tests to run
  pkg/runtest/run_test.go
Owners: none

executor: wrap all syscalls into NONFAILING
  executor/executor.cc
  pkg/csource/csource.go
  sys/test/test/nonfailing
Owners: none

sys/targets: don't use HostFuzzer mode for test OS
  pkg/host/features.go
  pkg/host/syscalls.go
  sys/targets/targets.go
Owners: none
