Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

tools/check-commits: allow canonical 'git revert' format
  tools/check-commits.sh
Owners: none

pkg/report: fix uvm_fault report detection on OpenBSD
  pkg/report/openbsd.go
  pkg/report/testdata/openbsd/report/32
Owners: @blackgnezdo, @mptre

tools/check-commits: allow canonical 'git revert' format
  tools/check-commits.sh
Owners: none

tools/check-commits.sh: use PR head instead of base
  tools/check-commits.sh
Owners: none

pkg/report: fix uvm_fault report detection on OpenBSD
  pkg/report/openbsd.go
  pkg/report/testdata/openbsd/report/32
Owners: @blackgnezdo, @mptre

pkg/csource: add description of the generation process
  pkg/csource/csource.go
Owners: none

executor: add some code style checks
  executor/common.h
  executor/common_bsd.h
  executor/common_linux.h
  executor/executor.cc
  executor/style_test.go
  executor/test_linux.h
  pkg/csource/csource_test.go
Owners: none

dashboard/config: enable rcupdate.rcu_expedited
  dashboard/config/upstream-apparmor.cmdline
  dashboard/config/upstream-selinux.cmdline
  dashboard/config/upstream-smack.cmdline
Owners: none

dashboard/config: enable rcupdate.rcu_expedited
  dashboard/config/upstream-apparmor.cmdline
  dashboard/config/upstream-selinux.cmdline
  dashboard/config/upstream-smack.cmdline
Owners: none

executor: add some code style checks
  executor/common.h
  executor/common_bsd.h
  executor/common_linux.h
  executor/executor.cc
  executor/style_test.go
  executor/test_linux.h
  pkg/csource/csource_test.go
Owners: none

sys/linux: add tca_flower_key_mpls_opts descritpion
  sys/linux/socket_netlink_route_sched.txt
  sys/linux/socket_netlink_route_sched_386.const
  sys/linux/socket_netlink_route_sched_amd64.const
  sys/linux/socket_netlink_route_sched_arm.const
  sys/linux/socket_netlink_route_sched_arm64.const
  sys/linux/socket_netlink_route_sched_mips64le.const
  sys/linux/socket_netlink_route_sched_ppc64le.const
  sys/linux/socket_netlink_route_sched_riscv64.const
  sys/linux/socket_netlink_route_sched_s390x.const
Owners: none

sys/linux: add descriptions for BPF LSM
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  pkg/runtest/run.go
  sys/linux/bpf.txt
  sys/linux/bpf_lsm.txt
  sys/linux/bpf_lsm_386.const
  sys/linux/bpf_lsm_amd64.const
  sys/linux/bpf_lsm_arm.const
  sys/linux/bpf_lsm_arm64.const
  sys/linux/bpf_lsm_mips64le.const
  sys/linux/bpf_lsm_ppc64le.const
  sys/linux/bpf_lsm_riscv64.const
  sys/linux/bpf_lsm_s390x.const
  sys/linux/test/btf_id
Owners: none

sys/linux/test: fix io_uring test
  sys/linux/test/io_uring
Owners: none

dashboard/config: enable BPF LSM
  dashboard/config/upstream-apparmor.cmdline
  dashboard/config/upstream-selinux.cmdline
  dashboard/config/upstream-smack.cmdline
Owners: none

sys/linux: add descriptions for BPF LSM
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  pkg/runtest/run.go
  sys/linux/bpf.txt
  sys/linux/bpf_lsm.txt
  sys/linux/bpf_lsm_386.const
  sys/linux/bpf_lsm_amd64.const
  sys/linux/bpf_lsm_arm.const
  sys/linux/bpf_lsm_arm64.const
  sys/linux/bpf_lsm_mips64le.const
  sys/linux/bpf_lsm_ppc64le.const
  sys/linux/bpf_lsm_riscv64.const
  sys/linux/bpf_lsm_s390x.const
  sys/linux/test/btf_id
Owners: none

dashboard/config: enable BPF LSM
  dashboard/config/upstream-apparmor.cmdline
  dashboard/config/upstream-selinux.cmdline
  dashboard/config/upstream-smack.cmdline
Owners: none

sys/linux/test: fix io_uring test
  sys/linux/test/io_uring
Owners: none

tools/syz-hubtool: add initial version
  tools/syz-hubtool/hubtool.go
Owners: none

sys/linux: add descriptions for RTM_(NEW|DEL|GET)NEXTHOP
  sys/linux/socket_netlink_route.txt
  sys/linux/socket_netlink_route_386.const
  sys/linux/socket_netlink_route_amd64.const
  sys/linux/socket_netlink_route_arm.const
  sys/linux/socket_netlink_route_arm64.const
  sys/linux/socket_netlink_route_mips64le.const
  sys/linux/socket_netlink_route_ppc64le.const
  sys/linux/socket_netlink_route_riscv64.const
  sys/linux/socket_netlink_route_s390x.const
Owners: none

sys/linux: add missing flags to rtnexthop
  sys/linux/socket_netlink_route.txt
Owners: none

tools/syz-hubtool: add initial version
  tools/syz-hubtool/hubtool.go
Owners: none

tools/syz-hubtool: fix up drain mode
  tools/syz-hubtool/hubtool.go
Owners: none

executor: use MAP_EXCL to map the data region on FreeBSD
  executor/executor_bsd.h
Owners: none

pkg/runtest: disable 32-bit tests on FreeBSD for now
  pkg/runtest/run_test.go
Owners: none

executor: always ignore SIGBUS on FreeBSD
  executor/common.h
  pkg/csource/generated.go
Owners: none

executor: always ignore SIGBUS on FreeBSD
  executor/common.h
  pkg/csource/generated.go
Owners: none

pkg/runtest: disable 32-bit tests on FreeBSD for now
  pkg/runtest/run_test.go
Owners: none

executor: use MAP_EXCL to map the data region on FreeBSD
  executor/executor_bsd.h
Owners: none

sys/linux: add descriptions for RTM_(NEW|DEL|GET)NEXTHOP
  sys/linux/socket_netlink_route.txt
  sys/linux/socket_netlink_route_386.const
  sys/linux/socket_netlink_route_amd64.const
  sys/linux/socket_netlink_route_arm.const
  sys/linux/socket_netlink_route_arm64.const
  sys/linux/socket_netlink_route_mips64le.const
  sys/linux/socket_netlink_route_ppc64le.const
  sys/linux/socket_netlink_route_riscv64.const
  sys/linux/socket_netlink_route_s390x.const
Owners: none

sys/linux: add missing flags to rtnexthop
  sys/linux/socket_netlink_route.txt
Owners: none

syz-manager/cover: support compiler triple for readelf
  syz-manager/cover.go
Owners: none

syz-manager/cover: support compiler triple for readelf
  syz-manager/cover.go
Owners: none

CONTRIBUTORS: add Matthew Halchyshak
  CONTRIBUTORS
Owners: none

sys/linux: fix make extract on latest linux-next
  sys/linux/socket_vnet.txt
Owners: none

CONTRIBUTORS: add Matthew Halchyshak
  CONTRIBUTORS
Owners: none

sys/linux: fix make extract on latest linux-next
  sys/linux/socket_vnet.txt
Owners: none

pkg/csource: add description of the generation process
  pkg/csource/csource.go
Owners: none

docs/freebsd: clarify that the dataset name is an example
  docs/freebsd/README.md
Owners: @markjdb, @tuexen

docs/freebsd: update the "missing things" list
  docs/freebsd/README.md
Owners: @markjdb, @tuexen

sys/linux: add tca_flower_key_mpls_opts descritpion
  sys/linux/socket_netlink_route_sched.txt
  sys/linux/socket_netlink_route_sched_386.const
  sys/linux/socket_netlink_route_sched_amd64.const
  sys/linux/socket_netlink_route_sched_arm.const
  sys/linux/socket_netlink_route_sched_arm64.const
  sys/linux/socket_netlink_route_sched_mips64le.const
  sys/linux/socket_netlink_route_sched_ppc64le.const
  sys/linux/socket_netlink_route_sched_riscv64.const
  sys/linux/socket_netlink_route_sched_s390x.const
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
