Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre

sys/linux/dev_vhci.txt: pack extended_inquiry_info_t
  sys/linux/dev_vhci.txt
Owners: none

sys/linux/l2cap.txt: add l2cap_conf_opt struct
  sys/linux/l2cap.txt
Owners: none

executor/common_linux.h: just fill bd addr will 0xaa
  executor/common_linux.h
Owners: none

executor/common_linux.h: just fill bd addr will 0xaa
  pkg/csource/generated.go
Owners: none

sys/netbsd: Adding missing flags for fstatat(2)
  sys/netbsd/sys.txt
Owners: @krytarowski, @R3x

dashboard/dashapi: create Recipients
  dashboard/dashapi/dashapi.go
Owners: none

pkg: get and store Maintainers data
  pkg/bisect/bisect.go
  pkg/build/build.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/vcs/git.go
  pkg/vcs/git_repo_test.go
  pkg/vcs/git_test.go
  pkg/vcs/linux.go
  pkg/vcs/vcs.go
  pkg/vcs/vcs_test.go
  syz-ci/jobs.go
  syz-ci/manager.go
  syz-manager/manager.go
  tools/syz-symbolize/symbolize.go
Owners: none

sys/netbsd: reordering rlimit_type
  sys/netbsd/sys.txt
Owners: @krytarowski, @R3x

docs/openbsd: update found bugs.md
  docs/openbsd/found_bugs.md
Owners: @blackgnezdo, @mptre

docs/openbsd: update found bugs.md
  docs/openbsd/found_bugs.md
Owners: @blackgnezdo, @mptre

sys/linux: descriptions for /dev/sequencer
  sys/linux/dev_sequencer.txt
  sys/linux/dev_sequencer_386.const
  sys/linux/dev_sequencer_amd64.const
  sys/linux/dev_sequencer_arm.const
  sys/linux/dev_sequencer_arm64.const
  sys/linux/dev_sequencer_mips64le.const
  sys/linux/dev_sequencer_ppc64le.const
  sys/linux/dev_sequencer_riscv64.const
  sys/linux/dev_sequencer_s390x.const
  sys/linux/sys.txt
Owners: none

sys/linux: descriptions for /dev/sequencer
  sys/linux/dev_sequencer.txt
  sys/linux/dev_sequencer_386.const
  sys/linux/dev_sequencer_amd64.const
  sys/linux/dev_sequencer_arm.const
  sys/linux/dev_sequencer_arm64.const
  sys/linux/dev_sequencer_mips64le.const
  sys/linux/dev_sequencer_ppc64le.const
  sys/linux/dev_sequencer_riscv64.const
  sys/linux/dev_sequencer_s390x.const
  sys/linux/sys.txt
Owners: none

executor: added syz_io_uring_setup to wrap both setup and mmap
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  sys/linux/io_uring.txt
  sys/linux/test/io_uring
Owners: none

.gitignore: add *.tmp
  .gitignore
Owners: none

all: mark auto-generated files
  .gitattributes
  pkg/build/linux.go
  pkg/build/linux_generated.go
  pkg/csource/gen.go
  pkg/csource/generated.go
  pkg/html/generated.go
  pkg/html/html.go
  pkg/ifuzz/gen/gen.go
  pkg/ifuzz/generated/insns.go
Owners: none

all: fix marking of auto-generated files
  executor/kvm.S.h
  executor/kvm_gen.cc
  sys/linux/init_vusb_ids.go
  sys/windows/windows.txt
  tools/check-copyright.sh
  tools/syz-usbgen/usbgen.go
Owners: none

executor: added syz_io_uring_setup to wrap both setup and mmap
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  sys/linux/io_uring.txt
  sys/linux/test/io_uring
Owners: none

sys/linux: descriptions for /dev/snd/hw*
  dashboard/config/upstream-kasan.config
  dashboard/config/upstream-kcsan.config
  dashboard/config/upstream-kmsan.config
  dashboard/config/upstream-leak.config
  sys/linux/dev_snd_hw.txt
  sys/linux/dev_snd_hw_386.const
  sys/linux/dev_snd_hw_amd64.const
  sys/linux/dev_snd_hw_arm.const
  sys/linux/dev_snd_hw_arm64.const
  sys/linux/dev_snd_hw_ppc64le.const
  sys/linux/dev_snd_hw_riscv64.const
  sys/linux/dev_snd_hw_s390x.const
  sys/linux/sys.txt
Owners: none

sys/linux: descriptions for /dev/snd/hw*
  dashboard/config/upstream-kasan.config
  dashboard/config/upstream-kcsan.config
  dashboard/config/upstream-kmsan.config
  dashboard/config/upstream-leak.config
  sys/linux/dev_snd_hw.txt
  sys/linux/dev_snd_hw_386.const
  sys/linux/dev_snd_hw_amd64.const
  sys/linux/dev_snd_hw_arm.const
  sys/linux/dev_snd_hw_arm64.const
  sys/linux/dev_snd_hw_ppc64le.const
  sys/linux/dev_snd_hw_riscv64.const
  sys/linux/dev_snd_hw_s390x.const
  sys/linux/sys.txt
Owners: none

sys/netbsd: reordering flags for stat(2) and mount(2)
  sys/netbsd/fs.txt
  sys/netbsd/fs_amd64.const
  sys/netbsd/socket.txt
  sys/netbsd/socket_amd64.const
Owners: @krytarowski, @R3x

all: initialize vhci in linux
  executor/common_linux.h
  executor/executor.cc
  pkg/csource/common.go
  pkg/csource/csource.go
  pkg/csource/generated.go
  pkg/csource/options.go
  pkg/csource/options_test.go
  pkg/host/features.go
  pkg/host/features_linux.go
  pkg/host/syscalls_linux.go
  pkg/ipc/ipc.go
  pkg/repro/repro.go
  pkg/runtest/run.go
  sys/linux/dev_vhci.txt
  sys/linux/l2cap.txt
  sys/linux/test/vhci
  syz-fuzzer/fuzzer.go
  tools/syz-execprog/execprog.go
  tools/syz-prog2c/prog2c.go
  tools/syz-reprolist/reprolist.go
  tools/syz-stress/stress.go
Owners: none

sys/linux: assorted improvements for vhci
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/dev_sequencer_mips64le.const
  sys/linux/dev_snd_hw_mips64le.const
  sys/linux/dev_vhci.txt
  sys/linux/dev_vhci_386.const
  sys/linux/dev_vhci_amd64.const
  sys/linux/dev_vhci_arm.const
  sys/linux/dev_vhci_arm64.const
  sys/linux/dev_vhci_mips64le.const
  sys/linux/dev_vhci_ppc64le.const
  sys/linux/dev_vhci_riscv64.const
  sys/linux/dev_vhci_s390x.const
  sys/linux/prctl_386.const
  sys/linux/prctl_amd64.const
  sys/linux/prctl_arm.const
  sys/linux/prctl_arm64.const
  sys/linux/prctl_mips64le.const
  sys/linux/prctl_ppc64le.const
  sys/linux/prctl_riscv64.const
  sys/linux/prctl_s390x.const
  sys/linux/sys_386.const
  sys/linux/sys_amd64.const
  sys/linux/sys_arm.const
  sys/linux/sys_arm64.const
  sys/linux/sys_mips64le.const
  sys/linux/sys_ppc64le.const
  sys/linux/sys_riscv64.const
  sys/linux/sys_s390x.const
Owners: none

sys/linux: assorted improvements for vhci
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/dev_sequencer_mips64le.const
  sys/linux/dev_snd_hw_mips64le.const
  sys/linux/dev_vhci.txt
  sys/linux/dev_vhci_386.const
  sys/linux/dev_vhci_amd64.const
  sys/linux/dev_vhci_arm.const
  sys/linux/dev_vhci_arm64.const
  sys/linux/dev_vhci_mips64le.const
  sys/linux/dev_vhci_ppc64le.const
  sys/linux/dev_vhci_riscv64.const
  sys/linux/dev_vhci_s390x.const
  sys/linux/prctl_386.const
  sys/linux/prctl_amd64.const
  sys/linux/prctl_arm.const
  sys/linux/prctl_arm64.const
  sys/linux/prctl_mips64le.const
  sys/linux/prctl_ppc64le.const
  sys/linux/prctl_riscv64.const
  sys/linux/prctl_s390x.const
  sys/linux/sys_386.const
  sys/linux/sys_amd64.const
  sys/linux/sys_arm.const
  sys/linux/sys_arm64.const
  sys/linux/sys_mips64le.const
  sys/linux/sys_ppc64le.const
  sys/linux/sys_riscv64.const
  sys/linux/sys_s390x.const
Owners: none

sys/netbsd: Adding syscalls related to mount(2),uname(2) and sockets (#1976)
  sys/netbsd/fs.txt
  sys/netbsd/fs_amd64.const
  sys/netbsd/socket.txt
  sys/netbsd/socket_amd64.const
  sys/netbsd/sys.txt
  sys/netbsd/sys_amd64.const
Owners: @krytarowski, @R3x

sys/linux: update IMA mount options
  sys/linux/filesystem.txt
Owners: none

dashboard/config: set ima_appraise=fix, evm=fix
  dashboard/config/upstream-apparmor.cmdline
  dashboard/config/upstream-selinux.cmdline
  dashboard/config/upstream-smack.cmdline
Owners: none

sys/linux: describe integrity interfaces
  sys/linux/filesystem.txt
  sys/linux/security_ima.txt
  sys/linux/security_ima_386.const
  sys/linux/security_ima_amd64.const
  sys/linux/security_ima_arm.const
  sys/linux/security_ima_arm64.const
  sys/linux/security_ima_mips64le.const
  sys/linux/security_ima_ppc64le.const
  sys/linux/security_ima_riscv64.const
  sys/linux/security_ima_s390x.const
Owners: none

sys/linux: split key_desc struct to key_desc and key_descz
  sys/linux/key.txt
Owners: none

sys/linux: use key_desc keyrings in security_ima.txt
  sys/linux/security_ima.txt
Owners: none

dashboard/app: Receive Recipients from API
  dashboard/app/api.go
  dashboard/app/jobs.go
Owners: none

.github/workflows: check commit description format
  .github/workflows/ci.yml
  Makefile
  docs/contributing.md
  tools/check-commits.sh
  tools/syz-env
Owners: none

pkg: get and store Maintainers data
  pkg/bisect/bisect.go
  pkg/build/build.go
  pkg/report/linux.go
  pkg/report/report.go
  pkg/vcs/git.go
  pkg/vcs/git_repo_test.go
  pkg/vcs/git_test.go
  pkg/vcs/linux.go
  pkg/vcs/vcs.go
  pkg/vcs/vcs_test.go
  syz-ci/jobs.go
  syz-ci/manager.go
  syz-manager/manager.go
  tools/syz-symbolize/symbolize.go
Owners: none

dashboard/app: Receive Recipients from API
  dashboard/app/api.go
  dashboard/app/jobs.go
Owners: none

dashboard/dashapi: create Recipients
  dashboard/dashapi/dashapi.go
Owners: none

.github/workflows: check commit description format
  .github/workflows/ci.yml
  Makefile
  docs/contributing.md
  tools/check-commits.sh
  tools/syz-env
Owners: none

dashboard/config: regenerate all configs
  dashboard/config/upstream-kasan.config
  dashboard/config/upstream-kcsan.config
  dashboard/config/upstream-kmsan.config
  dashboard/config/upstream-usb.config
Owners: none

sys/linux: add l2cap_conf_opt options
  sys/linux/l2cap.txt
  sys/linux/l2cap_386.const
  sys/linux/l2cap_amd64.const
  sys/linux/l2cap_arm.const
  sys/linux/l2cap_arm64.const
  sys/linux/l2cap_mips64le.const
  sys/linux/l2cap_ppc64le.const
  sys/linux/l2cap_riscv64.const
  sys/linux/l2cap_s390x.const
Owners: none

executor: enable extra coverage on OpenBSD
  executor/executor_bsd.h
  pkg/host/host_openbsd.go
Owners: @blackgnezdo, @mptre

executor: enable extra coverage on OpenBSD
  executor/executor_bsd.h
  pkg/host/host_openbsd.go
Owners: @blackgnezdo, @mptre

Revert "executor: enable extra coverage on OpenBSD"
  executor/executor_bsd.h
  pkg/host/host_openbsd.go
Owners: @blackgnezdo, @mptre
