Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dvyukov, @xairy, @mvanotti, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

vendor/		@dvyukov
*.py		@xairy
*fuchsia*	@mvanotti
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre

executor: added pseudocall syz_io_uring_put_ring_metadata
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  sys/linux/io_uring.txt
Owners: none

sys/linux: io_uring: fix desc for params.cq_entries
  sys/linux/io_uring.txt
Owners: none

sys/linux: add IORING_OP_PROVIDE_BUFFERS and IORING_OP_REMOVE_BUFFERS
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
Owners: none

sys/linux: io_uring: use reg. bufs for READ, READV, RECV, RECVMSG
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
Owners: none

sys/linux: fix IORING_OP_WRITE_FIXED and IORING_OP_READ_FIXED
  sys/linux/io_uring.txt
Owners: none

sys/linux: fix io_uring epoll_ctl sqe
  sys/linux/io_uring.txt
Owners: none

executor: fix SQ_ARRAY_OFFSET computation
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

executor: refactorings on io_uring pseudo syscalls
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

sys/linux: io_uring: add IORING_SETUP_ATTACH_WQ
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
Owners: none

executor: added pseudo-syscall syz_memcpy_off
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
Owners: none

sys/linux: io_uring: changed the sqe_user_data enum
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/io_uring.txt
  sys/linux/test/io_uring
Owners: none

pkg/host: added checks for io_uring syscall
  pkg/host/syscalls_linux.go
  sys/linux/io_uring.txt
Owners: none

sys/linux/test: fixed the test for io_uring
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/io_uring.txt
  sys/linux/test/io_uring
Owners: none

sys/linux: refactored io_uring descriptions
  sys/linux/io_uring.txt
Owners: none

sys/linux: io_uring: improved descs to utilize registered files
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
Owners: none

sys/linux: io_uring: utilized cqe.res
  executor/common_linux.h
  pkg/csource/generated.go
  sys/linux/io_uring.txt
  sys/linux/sys.txt
Owners: none

sys/linux: io_uring: misc fixes
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
Owners: none

sys/linux/test: added test for io_uring
  sys/linux/test/io_uring
Owners: none

sys/linux: io_uring: improved the descs to utilize personality_id in sqes
  sys/linux/io_uring.txt
Owners: none

sys/linux: fixed io_uring test
  sys/linux/test/io_uring
Owners: none

pkg/host: fixed checks for io_uring syscall
  pkg/host/syscalls_linux.go
Owners: none

sys/linux: enhanced descs for io_uring
  executor/common_linux.h
  pkg/csource/generated.go
  pkg/host/syscalls_linux.go
  prog/decl_test.go
  sys/linux/io_uring.txt
  sys/linux/io_uring_386.const
  sys/linux/io_uring_amd64.const
  sys/linux/io_uring_arm.const
  sys/linux/io_uring_arm64.const
  sys/linux/io_uring_mips64le.const
  sys/linux/io_uring_ppc64le.const
  sys/linux/io_uring_riscv64.const
  sys/linux/io_uring_s390x.const
  sys/linux/test/io_uring
Owners: none

sys/linux: add description for copy_file_range
  sys/linux/sys.txt
  sys/linux/sys_386.const
  sys/linux/sys_amd64.const
  sys/linux/sys_arm.const
  sys/linux/sys_arm64.const
  sys/linux/sys_mips64le.const
  sys/linux/sys_ppc64le.const
  sys/linux/sys_riscv64.const
  sys/linux/sys_s390x.const
Owners: none

cover: add code coverage for fuchsia.
  executor/executor.cc
  executor/executor_fuchsia.h
  pkg/cover/report.go
  pkg/host/features.go
  pkg/ipc/ipc.go
  sys/targets/targets.go
Owners: @mvanotti

sys/linux: add description for copy_file_range
  sys/linux/sys.txt
  sys/linux/sys_386.const
  sys/linux/sys_amd64.const
  sys/linux/sys_arm.const
  sys/linux/sys_arm64.const
  sys/linux/sys_mips64le.const
  sys/linux/sys_ppc64le.const
  sys/linux/sys_riscv64.const
  sys/linux/sys_s390x.const
Owners: none

sys/netbsd: adding ksem related syscalls
  sys/netbsd/lwp.txt
  sys/netbsd/lwp_amd64.const
Owners: @krytarowski, @R3x

sys/netbsd: adding missing header files to lwp.txt
  sys/netbsd/lwp.txt
  sys/netbsd/lwp_amd64.const
Owners: @krytarowski, @R3x

docs: add section on descriptions testing
  docs/pseudo_syscalls.md
  docs/syscall_descriptions.md
Owners: none

sys/netbsd: updating descriptions for ksem family syscalls
  sys/netbsd/lwp.txt
Owners: @krytarowski, @R3x

sys/netbsd: updating descriptions for ksem family syscalls
  sys/netbsd/lwp.txt
  sys/netbsd/lwp_amd64.const
Owners: @krytarowski, @R3x

Adding ksem family of syscalls (#1972)
  sys/netbsd/lwp.txt
  sys/netbsd/lwp_amd64.const
Owners: @krytarowski, @R3x

pkg/report: flag short uvm_fault reports as corrupted
  pkg/report/openbsd.go
  pkg/report/testdata/openbsd/report/0
  pkg/report/testdata/openbsd/report/29
  pkg/report/testdata/openbsd/report/30
  pkg/report/testdata/openbsd/report/31
Owners: @blackgnezdo, @mptre

docs: add section on descriptions testing
  docs/pseudo_syscalls.md
  docs/syscall_descriptions.md
Owners: none

pkg/report: flag short uvm_fault reports as corrupted
  pkg/report/openbsd.go
  pkg/report/testdata/openbsd/report/0
  pkg/report/testdata/openbsd/report/29
  pkg/report/testdata/openbsd/report/30
  pkg/report/testdata/openbsd/report/31
Owners: @blackgnezdo, @mptre

sys/netbsd: Adding syscalls related to mount(2),uname(2) and sockets
  sys/netbsd/fs.txt
  sys/netbsd/fs_amd64.const
  sys/netbsd/socket.txt
  sys/netbsd/socket_amd64.const
  sys/netbsd/sys.txt
  sys/netbsd/sys_amd64.const
Owners: @krytarowski, @R3x

executor/common_linux.h: find which hci device has been registered
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

executor/common_linux.h: use HCI_VENDOR_PKT response to retrieve device id
  executor/common_linux.h
  pkg/csource/generated.go
Owners: none

sys/linux/dev_vhci.txt: fix structs of inquiry and report packets
  sys/linux/dev_vhci.txt
Owners: none

executor/common_linux.h: remove unnecessary return statement and check vendor_pkt read size
  executor/common_linux.h
Owners: none

executor/common_linux.h: remove unnecessary return statement and check vendor_pkt read size
  pkg/csource/generated.go
Owners: none
