Repository google/syzkaller, changes with the owners that .github/CODEOWNERS names for each.
All owners: @xairy, @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig, @markjdb, @tuexen, @krytarowski, @R3x, @blackgnezdo, @mptre, @avagin, @dvyukov

pkg/subsystem: rewrite the inference logic
  pkg/subsystem/extractor.go
  pkg/subsystem/lists/linux_test.go
Owners: none

pkg/subsystem: rewrite the inference logic
  pkg/subsystem/extractor.go
  pkg/subsystem/lists/linux_test.go
Owners: none

pkg/subsystem: prioritize repro subsystems correctly
  pkg/subsystem/extractor.go
  pkg/subsystem/lists/linux_test.go
Owners: none

go.mod: add gonum
  go.mod
  go.sum
  vendor/gonum.org/v1/gonum/AUTHORS
  vendor/gonum.org/v1/gonum/CONTRIBUTORS
  vendor/gonum.org/v1/gonum/LICENSE
  vendor/gonum.org/v1/gonum/graph/formats/dot/README.md
  vendor/gonum.org/v1/gonum/graph/formats/dot/ast/ast.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/ast/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/dot.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/astx/astx.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/astx/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/errors/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/errors/errors.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/lexer/acttab.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/lexer/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/lexer/lexer.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/lexer/transitiontable.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/parser/action.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/parser/actiontable.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/parser/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/parser/gototable.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/parser/parser.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/parser/productionstable.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/token/doc.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/internal/token/token.go
  vendor/gonum.org/v1/gonum/graph/formats/dot/makeinternal.bash
  vendor/gonum.org/v1/gonum/graph/formats/dot/sem.go
  vendor/modules.txt
Owners: @dvyukov

pkg/vcs: add two more vcs.Repo methods
  pkg/vcs/fuchsia.go
  pkg/vcs/git.go
  pkg/vcs/git_test.go
  pkg/vcs/git_test_util.go
  pkg/vcs/vcs.go
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

pkg/email: extract more information
  dashboard/app/reporting_email.go
  pkg/email/parser.go
  pkg/email/parser_test.go
Owners: none

pkg/email/lore: add Lore archives parsing routines
  pkg/email/lore/parse.go
  pkg/email/lore/parse_test.go
  pkg/email/lore/read.go
Owners: none

dashboard: collect and display bug-related discussions
  dashboard/app/api.go
  dashboard/app/app_test.go
  dashboard/app/bug.html
  dashboard/app/config.go
  dashboard/app/discussion.go
  dashboard/app/discussion_test.go
  dashboard/app/entities.go
  dashboard/app/main.go
  dashboard/app/reporting_email.go
  dashboard/app/templates.html
  dashboard/app/util_test.go
  dashboard/dashapi/dashapi.go
Owners: none

tools: add the syz-lore tool
  tools/syz-lore/query_lkml.go
Owners: none

tools/syz-callgraph: add utility
  tools/syz-callgraph/callgraph.go
Owners: none

dashboard: log incoming discussion messages
  dashboard/app/reporting_email.go
Owners: none

dashboard: add one missing Discussion index
  dashboard/app/index.yaml
Owners: none

dashboard: add one missing Discussion index
  dashboard/app/index.yaml
Owners: none

pkg/vcs: add two more vcs.Repo methods
  pkg/vcs/fuchsia.go
  pkg/vcs/git.go
  pkg/vcs/git_test.go
  pkg/vcs/git_test_util.go
  pkg/vcs/vcs.go
Owners: @mvanotti, @noncombatant, @glpesk, @eepeep, @corkamig

pkg/email: extract more information
  dashboard/app/reporting_email.go
  pkg/email/parser.go
  pkg/email/parser_test.go
Owners: none

dashboard: collect and display bug-related discussions
  dashboard/app/api.go
  dashboard/app/app_test.go
  dashboard/app/bug.html
  dashboard/app/config.go
  dashboard/app/discussion.go
  dashboard/app/discussion_test.go
  dashboard/app/entities.go
  dashboard/app/main.go
  dashboard/app/reporting_email.go
  dashboard/app/templates.html
  dashboard/app/util_test.go
  dashboard/dashapi/dashapi.go
Owners: none

tools: add the syz-lore tool
  tools/syz-lore/query_lkml.go
Owners: none

pkg/email/lore: add Lore archives parsing routines
  pkg/email/lore/parse.go
  pkg/email/lore/parse_test.go
  pkg/email/lore/read.go
Owners: none

dashboard: log incoming discussion messages
  dashboard/app/reporting_email.go
Owners: none

pkg/email: move patch regexps to globals
  pkg/email/patch.go
Owners: none

pkg/email: handle bufio.ErrTooLong
  pkg/email/patch.go
Owners: none

dashboard: update bugs outside of the transaction
  dashboard/app/discussion.go
Owners: none

dashboard: skip non-existent BugIDs
  dashboard/app/api.go
Owners: none

dashboard: add an email send maintenance method
  dashboard/app/admin.go
Owners: none

dashboard: skip non-existent BugIDs
  dashboard/app/api.go
Owners: none

pkg/email: handle bufio.ErrTooLong
  pkg/email/patch.go
Owners: none

dashboard: update bugs outside of the transaction
  dashboard/app/discussion.go
Owners: none

pkg/email: move patch regexps to globals
  pkg/email/patch.go
Owners: none

dashboard: add an email send maintenance method
  dashboard/app/admin.go
Owners: none

dashboard: display collapsible info sections on the bug page
  dashboard/app/bug.html
  dashboard/app/main.go
  dashboard/app/templates.html
  pkg/html/pages/common.js
  pkg/html/pages/style.css
Owners: none

dashboard: put cause and fix bisection info blocks closer
  dashboard/app/bug.html
  pkg/html/pages/style.css
Owners: none

dashboard: put cause and fix bisection info blocks closer
  dashboard/app/bug.html
  pkg/html/pages/style.css
Owners: none

dashboard: display collapsible info sections on the bug page
  dashboard/app/bug.html
  dashboard/app/main.go
  dashboard/app/templates.html
  pkg/html/pages/common.js
  pkg/html/pages/style.css
Owners: none

CONTRIBUTORS: add myself
  CONTRIBUTORS
Owners: none

sys/linux: add prog for 2 iommufd ioctl syscalls
  sys/linux/test/dev_iommu
Owners: none

sys/linux: add prog for 2 iommufd ioctl syscalls
  sys/linux/test/dev_iommu
Owners: none

CONTRIBUTORS: add myself
  CONTRIBUTORS
Owners: none

pkg/html/pages: sort table also by non-displayed values
  pkg/html/pages/common.js
Owners: none

dashboard: display discussions info on the main page
  dashboard/app/config.go
  dashboard/app/main.go
  dashboard/app/templates.html
  pkg/html/pages/style.css
Owners: none

dashboard: display discussions info on the main page
  dashboard/app/config.go
  dashboard/app/main.go
  dashboard/app/templates.html
  pkg/html/pages/style.css
Owners: none

.github/CODEOWNERS:

# For reference see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

*.py		@xairy
*fuchsia*	@mvanotti @noncombatant @glpesk @eepeep @corkamig
*freebsd*	@markjdb @tuexen
*netbsd*	@krytarowski @R3x
*openbsd*	@blackgnezdo @mptre
*gvisor*	@avagin
vendor/		@dvyukov
